section
    .main__partners.partners
        .container
            .row
                .col-12
                    h2.partners__title Who we've worked with
            .row
                
                .col-10.mx-auto.order-2
                    .partners__slider.swiper-container
                        .partners__wrapper.swiper-wrapper
                            .partners__slide.swiper-slide
                                img.partners__image(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/1.png", alt="slide 1")
                            .partners__slide.swiper-slide
                                img.partners__image(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/3.png", alt="slide 2")
                            .partners__slide.swiper-slide
                                img.partners__image(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/1.png", alt="slide 3")
                            .partners__slide.swiper-slide
                                img.partners__image(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/3.png", alt="slide 4")
                            .partners__slide.swiper-slide
                                img.partners__image(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/1.png", alt="slide 5")
                            .partners__slide.swiper-slide
                                img.partners__image(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/3.png", alt="slide 6")
                            .partners__slide.swiper-slide
                                img.partners__image(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/1.png", alt="slide 7")
                            .partners__slide.swiper-slide
                                img.partners__image(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/3.png", alt="slide 8")
                .col-1.order-3   
                    .partners__button.d-flex.justify-content-center
                        i.partners__icon-next.fas.fa-chevron-right
                .col-1.order-1    
                    .partners__button.d-flex.justify-content-center
                        i.partners__icon-prev.fas.fa-chevron-left
                    
                        
                        
                