section
    .team
        .container
            +title('MEET THE TEAM').team__title
            .team__blocks.mt-3.mt-sm-5
                .row
                    .col-md-4
                        .team__block.d-flex.flex-column.align-items-center
                            img.img-fluid.team__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/04/teammate1.jpg", alt="Surya Gandhi")
                            h3.team__subtitle.mt-4 Surya Gandhi
                            p.team__desc CEO & FOUNDER
                    .col-md-4
                        .team__block.d-flex.flex-column.align-items-center
                            img.img-fluid.team__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/teammate2.jpg", alt="Chandu Gandhi")
                            h3.team__subtitle.mt-4 Chandu Gandhi
                            p.team__desc CTO
                    .col-md-4
                        .team__block.d-flex.flex-column.align-items-center
                            img.img-fluid.team__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/teammate3.jpg", alt="Kishan Baheti")
                            h3.team__subtitle.mt-4 Kishan Baheti
                            p.team__desc.text-center MANAGEMENT HEAD & SR. ANDROID DEV