section 
    .about.about-head
        .container
            .row
                .col-6
                    h1.about-head__title.mt-5 About
                    h2.about-head__subtitle SPARKLE APPZ
                    p.about-head__text.mt-2 #[a.about-head__link(href="#") Sparkle Appz] is an IT company in India, offering quality software related solutions including #[a.about-head__link(href="#") Mobile Application Development] , #[a.about-head__link(href="#") SEO] , #[a.about-head__link(href="#") Unity 3D], and #[a.about-head__link(href="#") Web Design and Development]. We believe in #[strong “Complete Customer Satisfaction”] as our definition of quality.
                    p.about-head__text We focus to deliver our expertise to our clients within time and make sure that our solutions be aesthetic, technically functional, user-friendly and responsive.
                    a.about-head__btn.mt-5(href="portfolio.html") Our portfolio
                        i.about-head__icon.fas.fa-long-arrow-alt-right
                .col-6
                    img.img-fluid.d-block.mx-auto.about-head__image(src="https:/www.sparkleappz.com/wp-content/uploads/2020/01/slider_image.png", alt="")
