.about-head {
  &__title {
    @include title($pFont, 27px, 35px, bold);
    text-align: left;
  }
  &__subtitle {
    @include title($pFont, 20px, 26px, 300);
    text-align: left;
    color: #7a7a7a;
  }
  &__text {
    @include title($mFont, 14px, 26px, 500);
    text-transform: unset;
    text-align: left;
    color: #7a7a7a;
  }
  &__link {
    @extend %link;
  }

  &__btn {
    @include title($mFont, 16px, 16px, 500);
    text-transform: unset;
    color: #2185f5;
    display: block;
    width: 214px;
    height: 46px;
    border: 1px solid #2185f5;
    transition: all 0.3s linear;
    border-radius: 50px;
    background-color: white;
    padding-top: 14px;
    margin-bottom: 62px;
    box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.16);
    &:hover {
      text-decoration: none;
      color: white;
      transition: all 0.3s linear;
      background-color: #2185f5;
      border: 1px solid #2185f5;
    }
  }
  &__icon {
    margin-left: 14px;
  }
}
