section
    .history
        .container
            +title('OUR HISTORY').history__title
            .row
                .col-11.mx-auto
                    .history__content
                        p.history__txt.mt-md-5 #[a.history__link(href="#") Sparkle Appz] was started in 2011 by a small group of dedicated software professionals. We started our company with #[a.history__link(href="#") web application] development and soon embarked #[a.history__link(href="#") mobile app development] after 1 successful year of productivity.
                        p.history__txt Today, SparkleAppz being one of the best software company in the Jodhpur region, with a team of 10 skilled developers, have developed more than 100 applications with #[strong 90+ satisfied] #[a.history__link(href="#") clients]. During this decade, we have been working closely with our clients from concept to delivery, helping to change their visions into attractive and useful products. Every project we deliver is given our supreme attention.

    