.history {
  background-color: $bg;
  &__title {
    @extend %title-p-b;
  }
  &__content {
    margin-bottom: 160px;
    @media screen and (max-width: 575px) {
      margin-bottom: 40px;
    }
  }
  &__txt {
    @extend %text-v-r;
    text-align: center;
  }
  &__link {
    @extend %link;
  }
}
