.achiev {
  background-color: #315fda;
  &__title {
    @extend %title-p-b;
    color: white;
  }
  &__blocks {
    padding-bottom: 90px;
  }
  &__number {
    @include title($vFont, 70px, 70px, 400);
    color: white;
    display: block;
    margin: 0 auto;
  }
  &__desc {
    @include title($vFont, 19px, 47px, 400);
    color: white;
    text-transform: unset;
  }
  &__line {
    background-color: white;
    width: 1px;
    height: 100%;
  }
}
