section
    .achiev
        .container
            .row
                .col-md-12
                    h2.achiev__title Why work with us
            .achiev__blocks.mt-5
                .row.d-flex.justify-content-center
                    .col-md-2
                        .achiev__block
                            span.achiev__number.achiev__number--first
                            p.achiev__desc Projects Completed
                    .col-md-1.d-none.d-md-block
                        hr.achiev__line.d-block.my-auto
                    .col-md-2
                        .achiev__block
                            span.num.achiev__number.achiev__number--second
                            p.achiev__desc Happy Clients
                    .col-md-1.d-none.d-md-block
                        hr.achiev__line.d-block.my-auto
                    .col-md-2
                        .achiev__block
                            span.num.achiev__number.achiev__number--third
                            p.achiev__desc Lines Of Code
                    .col-md-1.d-none.d-md-block
                        hr.achiev__line.d-block.my-auto
                    .col-md-2
                        .achiev__block
                            span.num.achiev__number.achiev__number--fourth
                            p.achiev__desc Awards
                    
