section
    .achiev
        .container
            .row
                .col-12
                    h2.achiev__title Why work with us
            .achiev__blocks.mt-5
                .row
                    .col-xl-2.offset-xl-1
                        .achiev__block
                            spand.achiev__number.achiev__number--first
                            p.achiev__desc Projects Completed
                    .col-1.d-none.d-xl-block
                        hr.achiev__line.d-block.my-auto
                    .col-xl-2
                        .achiev__block
                            span.num.achiev__number.achiev__number--second
                            p.achiev__desc Happy Clients
                    .col-1.d-none.d-xl-block
                        hr.achiev__line.d-block.my-auto
                    .col-xl-2
                        .achiev__block
                            span.num.achiev__number.achiev__number--third
                            p.achiev__desc Lines Of Code
                    .col-1.d-none.d-xl-block
                        hr.achiev__line.d-block.my-auto
                    .col-xl-2
                        .achiev__block
                            span.num.achiev__number.achiev__number--fourth
                            p.achiev__desc Awards
                    
