#checkbox {
  visibility: hidden;
}

.burger__button {
  display: flex;
  align-items: center;
  position: absolute;
  right: 40px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 2;
}

.burger-nav__list {
  display: block;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 460px;
  margin: 0;

  list-style: none;
  text-align: center;
  background-color: white;
  left: 0;
  z-index: 1;
  transition: all 0.3s linear;
}

#checkbox:checked ~ .burger-nav__list {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s linear;
}

.burger-nav {
  &__list {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  &__link {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    line-height: 42px;
    text-transform: uppercase;
    color: #3a3a3a;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s linear;

    &:hover {
      color: #4169e1;
      transition: all 0.3s linear;
      text-decoration: none;
    }
  }
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #2355da;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.active .top {
  stroke-dashoffset: -68px;
}
.ham4.active .bottom {
  stroke-dashoffset: -68px;
}

.burger {
  &__links {
    margin-top: 7px;
    margin-left: -5px;
  }

  &-link {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    margin-left: 20px;
    color: white;

    padding-top: 11px;
    transition: all 0.4s linear;

    &:hover {
      color: #59b0fe;
      background-color: #fff;
      transition: all 0.4s linear;
    }
  }
}

.burger-nav__item:hover .burger__submenu {
  display: block;
  transition: all 0.2s linear;
  opacity: 1;
}

.burger__submenu {
  display: none;

  background-color: #fff;
}
.burger-item {
  display: block;
  font-family: $vFont;
  font-size: 16px;

  line-height: 32px;
  font-weight: bold;
  color: #3a3a3a;

  &:hover {
    color: #2355da;
    text-decoration: none;
  }
}
