<!DOCTYPE html>
    html(lang="en")
        include ../../head.pug
        body
            include ../blocks-secondary/title/_title.pug
            include ../blocks-secondary/nav/_nav.pug
            include ../blocks-secondary/head/_head.pug
            include ../blocks-secondary/scrollTop/_scrollTop.pug
            include ../blocks-secondary/headline/_headline.pug
            
            +nav('','nav__active')
            +head('About', 
                'SPARKLE APPZ', 
                
                'Sparkle Appz is an IT company in India, offering quality software related solutions including Mobile Application Development , SEO, Unity 3D, and Web Design and Development. We believe in “Complete Customer Satisfaction” as our definition of quality.', 
                
                'We focus to deliver our expertise to our clients within time and make sure that our solutions be aesthetic, technically functional, user-friendly and responsive.',
                
                'portfolio.html',
                
                'Our portfolio',
                
                "https://www.sparkleappz.com/wp-content/uploads/2020/01/slider_image.png",
                
                'team')
            include achievements/_achievements.pug
            include history/_history.pug
            include description/_desc.pug
            include ../blocks-secondary/process/_process.pug
            include ../blocks-secondary/ranking/_ranking.pug
            include ../blocks-secondary/partners/_partners.pug
            include our/_our.pug
            include choose/_choose.pug
            include ../blocks-secondary/team/_team.pug
            include ../blocks-secondary/form-second/_form-second.pug
            include ../blocks-secondary/network/_network.pug
            include ../blocks-secondary/footer/_footer.pug
            
            include ../../scripts.pug
        