{
  "name": "app",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "src/pug/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/SCSS/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/css/style.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "src/pug/blocks/about/about.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/about.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/pug/blocks/blog/blog.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/blog.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/pug/blocks/contact/_contact.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/contact.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/pug/blocks/portfolio/portfolio.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/portfolio.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/pug/blocks/services/services.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/services/services.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/index.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"dist/scripts.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/blocks/home/partners/partners.js",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"src/index.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/blocks/home/portfolio/portfolio.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"dist/scripts.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/blocks/home/portfolio/port.js",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"src/index.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "src/pug",
      "src/pug/blocks",
      "src/pug/blocks/services",
      "src",
      "src/blocks/home/portfolio",
      "src/blocks",
      "src/blocks/home",
      "src/blocks/home/partners"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "src/index.pug",
      "imports": [
        "src/blocks/home/_home.pug",
        "src/blocks/home/nav/_nav.pug",
        "src/blocks/home/head/_head.pug",
        "src/blocks/home/work/_work.pug",
        "src/blocks/home/help/_help.pug",
        "src/blocks/home/service/_service.pug",
        "src/blocks/home/partners/_partners.pug",
        "src/blocks/home/portfolio/_port.pug",
        "src/blocks/home/process/_process.pug",
        "src/blocks/home/ranking/_ranking.pug",
        "src/blocks/home/clients/_clients.pug",
        "src/blocks/home/features/_features.pug",
        "src/blocks/home/technologies/_technologies.pug",
        "src/blocks/home/industries/_industries.pug",
        "src/blocks/home/values/_values.pug",
        "src/blocks/home/form/_form.pug",
        "src/blocks/home/network/_network.pug",
        "src/blocks/home/footer/_footer.pug",
        "src/blocks/home/copyright/_copyright.pug"
      ]
    },
    {
      "path": "src/SCSS/style.scss",
      "imports": [
        "src/SCSS/_reset.scss",
        "src/SCSS/bootstrap/bootstrap.scss",
        "src/SCSS/_fonts.scss",
        "src/SCSS/vars.scss",
        "src/SCSS/mixins.scss",
        "src/SCSS/_main.scss",
        "src/SCSS/_blocks.scss",
        "src/SCSS/owl_carousel/owl.carousel.scss",
        "src/SCSS/bootstrap/_functions.scss",
        "src/SCSS/bootstrap/_variables.scss",
        "src/SCSS/bootstrap/_mixins.scss",
        "src/SCSS/bootstrap/_root.scss",
        "src/SCSS/bootstrap/_reboot.scss",
        "src/SCSS/bootstrap/_type.scss",
        "src/SCSS/bootstrap/_images.scss",
        "src/SCSS/bootstrap/_code.scss",
        "src/SCSS/bootstrap/_grid.scss",
        "src/SCSS/bootstrap/_tables.scss",
        "src/SCSS/bootstrap/_forms.scss",
        "src/SCSS/bootstrap/_buttons.scss",
        "src/SCSS/bootstrap/_transitions.scss",
        "src/SCSS/bootstrap/_dropdown.scss",
        "src/SCSS/bootstrap/_button-group.scss",
        "src/SCSS/bootstrap/_input-group.scss",
        "src/SCSS/bootstrap/_custom-forms.scss",
        "src/SCSS/bootstrap/_nav.scss",
        "src/SCSS/bootstrap/_navbar.scss",
        "src/SCSS/bootstrap/_card.scss",
        "src/SCSS/bootstrap/_breadcrumb.scss",
        "src/SCSS/bootstrap/_pagination.scss",
        "src/SCSS/bootstrap/_badge.scss",
        "src/SCSS/bootstrap/_jumbotron.scss",
        "src/SCSS/bootstrap/_alert.scss",
        "src/SCSS/bootstrap/_progress.scss",
        "src/SCSS/bootstrap/_media.scss",
        "src/SCSS/bootstrap/_list-group.scss",
        "src/SCSS/bootstrap/_close.scss",
        "src/SCSS/bootstrap/_toasts.scss",
        "src/SCSS/bootstrap/_modal.scss",
        "src/SCSS/bootstrap/_tooltip.scss",
        "src/SCSS/bootstrap/_popover.scss",
        "src/SCSS/bootstrap/_carousel.scss",
        "src/SCSS/bootstrap/_spinners.scss",
        "src/SCSS/bootstrap/_utilities.scss",
        "src/SCSS/bootstrap/_print.scss",
        "src/blocks/home/_home.scss",
        "src/blocks/home/nav/_nav.scss",
        "src/blocks/home/head/_head.scss",
        "src/blocks/home/work/_work.scss",
        "src/blocks/home/help/_help.scss",
        "src/blocks/home/service/_service.scss",
        "src/blocks/home/partners/_partners.scss",
        "src/blocks/home/portfolio/_portfolio.scss",
        "src/blocks/home/process/_process.scss",
        "src/blocks/home/ranking/_ranking.scss",
        "src/blocks/home/clients/_clients.scss",
        "src/blocks/home/features/_features.scss",
        "src/blocks/home/technologies/_technologies.scss",
        "src/blocks/home/industries/_industries.scss",
        "src/blocks/home/values/_values.scss",
        "src/blocks/home/form/_form.scss",
        "src/blocks/home/network/_network.scss",
        "src/blocks/home/footer/_footer.scss",
        "src/blocks/home/copyright/_copyright.scss",
        "src/SCSS/owl_carousel/_core.scss",
        "src/SCSS/owl_carousel/_animate.scss",
        "src/SCSS/owl_carousel/_autoheight.scss",
        "src/SCSS/owl_carousel/_lazyload.scss",
        "src/SCSS/owl_carousel/_video.scss",
        "src/SCSS/bootstrap/vendor/_rfs.scss",
        "src/SCSS/bootstrap/mixins/_deprecate.scss",
        "src/SCSS/bootstrap/mixins/_breakpoints.scss",
        "src/SCSS/bootstrap/mixins/_hover.scss",
        "src/SCSS/bootstrap/mixins/_image.scss",
        "src/SCSS/bootstrap/mixins/_badge.scss",
        "src/SCSS/bootstrap/mixins/_resize.scss",
        "src/SCSS/bootstrap/mixins/_screen-reader.scss",
        "src/SCSS/bootstrap/mixins/_size.scss",
        "src/SCSS/bootstrap/mixins/_reset-text.scss",
        "src/SCSS/bootstrap/mixins/_text-emphasis.scss",
        "src/SCSS/bootstrap/mixins/_text-hide.scss",
        "src/SCSS/bootstrap/mixins/_text-truncate.scss",
        "src/SCSS/bootstrap/mixins/_visibility.scss",
        "src/SCSS/bootstrap/mixins/_alert.scss",
        "src/SCSS/bootstrap/mixins/_buttons.scss",
        "src/SCSS/bootstrap/mixins/_caret.scss",
        "src/SCSS/bootstrap/mixins/_pagination.scss",
        "src/SCSS/bootstrap/mixins/_lists.scss",
        "src/SCSS/bootstrap/mixins/_list-group.scss",
        "src/SCSS/bootstrap/mixins/_nav-divider.scss",
        "src/SCSS/bootstrap/mixins/_forms.scss",
        "src/SCSS/bootstrap/mixins/_table-row.scss",
        "src/SCSS/bootstrap/mixins/_background-variant.scss",
        "src/SCSS/bootstrap/mixins/_border-radius.scss",
        "src/SCSS/bootstrap/mixins/_box-shadow.scss",
        "src/SCSS/bootstrap/mixins/_gradients.scss",
        "src/SCSS/bootstrap/mixins/_transition.scss",
        "src/SCSS/bootstrap/mixins/_clearfix.scss",
        "src/SCSS/bootstrap/mixins/_grid-framework.scss",
        "src/SCSS/bootstrap/mixins/_grid.scss",
        "src/SCSS/bootstrap/mixins/_float.scss",
        "src/SCSS/bootstrap/utilities/_align.scss",
        "src/SCSS/bootstrap/utilities/_background.scss",
        "src/SCSS/bootstrap/utilities/_borders.scss",
        "src/SCSS/bootstrap/utilities/_clearfix.scss",
        "src/SCSS/bootstrap/utilities/_display.scss",
        "src/SCSS/bootstrap/utilities/_embed.scss",
        "src/SCSS/bootstrap/utilities/_flex.scss",
        "src/SCSS/bootstrap/utilities/_float.scss",
        "src/SCSS/bootstrap/utilities/_overflow.scss",
        "src/SCSS/bootstrap/utilities/_position.scss",
        "src/SCSS/bootstrap/utilities/_screenreaders.scss",
        "src/SCSS/bootstrap/utilities/_shadows.scss",
        "src/SCSS/bootstrap/utilities/_sizing.scss",
        "src/SCSS/bootstrap/utilities/_stretched-link.scss",
        "src/SCSS/bootstrap/utilities/_spacing.scss",
        "src/SCSS/bootstrap/utilities/_text.scss",
        "src/SCSS/bootstrap/utilities/_visibility.scss"
      ]
    },
    {
      "path": "src/SCSS/_blocks.scss",
      "imports": [
        "src/blocks/home/_home.scss",
        "src/blocks/home/nav/_nav.scss",
        "src/blocks/home/head/_head.scss",
        "src/blocks/home/work/_work.scss",
        "src/blocks/home/help/_help.scss",
        "src/blocks/home/service/_service.scss",
        "src/blocks/home/partners/_partners.scss"
      ]
    },
    {
      "path": "src/blocks/home/_home.pug",
      "imports": [
        "src/blocks/home/nav/_nav.pug",
        "src/blocks/home/head/_head.pug",
        "src/blocks/home/work/_work.pug",
        "src/blocks/home/help/_help.pug",
        "src/blocks/home/service/_service.pug",
        "src/blocks/home/partners/_partners.pug",
        "src/blocks/home/portfolio/_port.pug",
        "src/blocks/home/process/_process.pug",
        "src/blocks/home/ranking/_ranking.pug",
        "src/blocks/home/clients/_clients.pug",
        "src/blocks/home/features/_features.pug",
        "src/blocks/home/technologies/_technologies.pug",
        "src/blocks/home/industries/_industries.pug",
        "src/blocks/home/values/_values.pug",
        "src/blocks/home/form/_form.pug",
        "src/blocks/home/links/_links.pug",
        "src/blocks/home/footer/_footer.pug"
      ]
    },
    {
      "path": "src/SCSS/bootstrap/bootstrap-grid.scss",
      "imports": [
        "src/SCSS/bootstrap/_functions.scss",
        "src/SCSS/bootstrap/_variables.scss",
        "src/SCSS/bootstrap/mixins/_breakpoints.scss",
        "src/SCSS/bootstrap/mixins/_grid-framework.scss",
        "src/SCSS/bootstrap/mixins/_grid.scss",
        "src/SCSS/bootstrap/_grid.scss",
        "src/SCSS/bootstrap/utilities/_display.scss",
        "src/SCSS/bootstrap/utilities/_flex.scss",
        "src/SCSS/bootstrap/utilities/_spacing.scss"
      ]
    },
    {
      "path": "src/SCSS/bootstrap/bootstrap-reboot.scss",
      "imports": [
        "src/SCSS/bootstrap/_functions.scss",
        "src/SCSS/bootstrap/_variables.scss",
        "src/SCSS/bootstrap/_mixins.scss",
        "src/SCSS/bootstrap/_reboot.scss",
        "src/SCSS/bootstrap/vendor/_rfs.scss",
        "src/SCSS/bootstrap/mixins/_deprecate.scss",
        "src/SCSS/bootstrap/mixins/_breakpoints.scss",
        "src/SCSS/bootstrap/mixins/_hover.scss",
        "src/SCSS/bootstrap/mixins/_image.scss",
        "src/SCSS/bootstrap/mixins/_badge.scss",
        "src/SCSS/bootstrap/mixins/_resize.scss",
        "src/SCSS/bootstrap/mixins/_screen-reader.scss",
        "src/SCSS/bootstrap/mixins/_size.scss",
        "src/SCSS/bootstrap/mixins/_reset-text.scss",
        "src/SCSS/bootstrap/mixins/_text-emphasis.scss",
        "src/SCSS/bootstrap/mixins/_text-hide.scss",
        "src/SCSS/bootstrap/mixins/_text-truncate.scss",
        "src/SCSS/bootstrap/mixins/_visibility.scss",
        "src/SCSS/bootstrap/mixins/_alert.scss",
        "src/SCSS/bootstrap/mixins/_buttons.scss",
        "src/SCSS/bootstrap/mixins/_caret.scss",
        "src/SCSS/bootstrap/mixins/_pagination.scss",
        "src/SCSS/bootstrap/mixins/_lists.scss",
        "src/SCSS/bootstrap/mixins/_list-group.scss",
        "src/SCSS/bootstrap/mixins/_nav-divider.scss",
        "src/SCSS/bootstrap/mixins/_forms.scss",
        "src/SCSS/bootstrap/mixins/_table-row.scss",
        "src/SCSS/bootstrap/mixins/_background-variant.scss",
        "src/SCSS/bootstrap/mixins/_border-radius.scss",
        "src/SCSS/bootstrap/mixins/_box-shadow.scss",
        "src/SCSS/bootstrap/mixins/_gradients.scss",
        "src/SCSS/bootstrap/mixins/_transition.scss",
        "src/SCSS/bootstrap/mixins/_clearfix.scss",
        "src/SCSS/bootstrap/mixins/_grid-framework.scss",
        "src/SCSS/bootstrap/mixins/_grid.scss",
        "src/SCSS/bootstrap/mixins/_float.scss"
      ]
    },
    {
      "path": "src/SCSS/bootstrap/bootstrap.scss",
      "imports": [
        "src/SCSS/bootstrap/_functions.scss",
        "src/SCSS/bootstrap/_variables.scss",
        "src/SCSS/bootstrap/_mixins.scss",
        "src/SCSS/bootstrap/_root.scss",
        "src/SCSS/bootstrap/_reboot.scss",
        "src/SCSS/bootstrap/_type.scss",
        "src/SCSS/bootstrap/_images.scss",
        "src/SCSS/bootstrap/_code.scss",
        "src/SCSS/bootstrap/_grid.scss",
        "src/SCSS/bootstrap/_tables.scss",
        "src/SCSS/bootstrap/_forms.scss",
        "src/SCSS/bootstrap/_buttons.scss",
        "src/SCSS/bootstrap/_transitions.scss",
        "src/SCSS/bootstrap/_dropdown.scss",
        "src/SCSS/bootstrap/_button-group.scss",
        "src/SCSS/bootstrap/_input-group.scss",
        "src/SCSS/bootstrap/_custom-forms.scss",
        "src/SCSS/bootstrap/_nav.scss",
        "src/SCSS/bootstrap/_navbar.scss",
        "src/SCSS/bootstrap/_card.scss",
        "src/SCSS/bootstrap/_breadcrumb.scss",
        "src/SCSS/bootstrap/_pagination.scss",
        "src/SCSS/bootstrap/_badge.scss",
        "src/SCSS/bootstrap/_jumbotron.scss",
        "src/SCSS/bootstrap/_alert.scss",
        "src/SCSS/bootstrap/_progress.scss",
        "src/SCSS/bootstrap/_media.scss",
        "src/SCSS/bootstrap/_list-group.scss",
        "src/SCSS/bootstrap/_close.scss",
        "src/SCSS/bootstrap/_toasts.scss",
        "src/SCSS/bootstrap/_modal.scss",
        "src/SCSS/bootstrap/_tooltip.scss",
        "src/SCSS/bootstrap/_popover.scss",
        "src/SCSS/bootstrap/_carousel.scss",
        "src/SCSS/bootstrap/_spinners.scss",
        "src/SCSS/bootstrap/_utilities.scss",
        "src/SCSS/bootstrap/_print.scss",
        "src/SCSS/bootstrap/vendor/_rfs.scss",
        "src/SCSS/bootstrap/mixins/_deprecate.scss",
        "src/SCSS/bootstrap/mixins/_breakpoints.scss",
        "src/SCSS/bootstrap/mixins/_hover.scss",
        "src/SCSS/bootstrap/mixins/_image.scss",
        "src/SCSS/bootstrap/mixins/_badge.scss",
        "src/SCSS/bootstrap/mixins/_resize.scss",
        "src/SCSS/bootstrap/mixins/_screen-reader.scss",
        "src/SCSS/bootstrap/mixins/_size.scss",
        "src/SCSS/bootstrap/mixins/_reset-text.scss",
        "src/SCSS/bootstrap/mixins/_text-emphasis.scss",
        "src/SCSS/bootstrap/mixins/_text-hide.scss",
        "src/SCSS/bootstrap/mixins/_text-truncate.scss",
        "src/SCSS/bootstrap/mixins/_visibility.scss",
        "src/SCSS/bootstrap/mixins/_alert.scss",
        "src/SCSS/bootstrap/mixins/_buttons.scss",
        "src/SCSS/bootstrap/mixins/_caret.scss",
        "src/SCSS/bootstrap/mixins/_pagination.scss",
        "src/SCSS/bootstrap/mixins/_lists.scss",
        "src/SCSS/bootstrap/mixins/_list-group.scss",
        "src/SCSS/bootstrap/mixins/_nav-divider.scss",
        "src/SCSS/bootstrap/mixins/_forms.scss",
        "src/SCSS/bootstrap/mixins/_table-row.scss",
        "src/SCSS/bootstrap/mixins/_background-variant.scss",
        "src/SCSS/bootstrap/mixins/_border-radius.scss",
        "src/SCSS/bootstrap/mixins/_box-shadow.scss",
        "src/SCSS/bootstrap/mixins/_gradients.scss",
        "src/SCSS/bootstrap/mixins/_transition.scss",
        "src/SCSS/bootstrap/mixins/_clearfix.scss",
        "src/SCSS/bootstrap/mixins/_grid-framework.scss",
        "src/SCSS/bootstrap/mixins/_grid.scss",
        "src/SCSS/bootstrap/mixins/_float.scss",
        "src/SCSS/bootstrap/utilities/_align.scss",
        "src/SCSS/bootstrap/utilities/_background.scss",
        "src/SCSS/bootstrap/utilities/_borders.scss",
        "src/SCSS/bootstrap/utilities/_clearfix.scss",
        "src/SCSS/bootstrap/utilities/_display.scss",
        "src/SCSS/bootstrap/utilities/_embed.scss",
        "src/SCSS/bootstrap/utilities/_flex.scss",
        "src/SCSS/bootstrap/utilities/_float.scss",
        "src/SCSS/bootstrap/utilities/_overflow.scss",
        "src/SCSS/bootstrap/utilities/_position.scss",
        "src/SCSS/bootstrap/utilities/_screenreaders.scss",
        "src/SCSS/bootstrap/utilities/_shadows.scss",
        "src/SCSS/bootstrap/utilities/_sizing.scss",
        "src/SCSS/bootstrap/utilities/_stretched-link.scss",
        "src/SCSS/bootstrap/utilities/_spacing.scss",
        "src/SCSS/bootstrap/utilities/_text.scss",
        "src/SCSS/bootstrap/utilities/_visibility.scss"
      ]
    },
    {
      "path": "src/SCSS/bootstrap/_mixins.scss",
      "imports": [
        "src/SCSS/bootstrap/vendor/_rfs.scss",
        "src/SCSS/bootstrap/mixins/_deprecate.scss",
        "src/SCSS/bootstrap/mixins/_breakpoints.scss",
        "src/SCSS/bootstrap/mixins/_hover.scss",
        "src/SCSS/bootstrap/mixins/_image.scss",
        "src/SCSS/bootstrap/mixins/_badge.scss",
        "src/SCSS/bootstrap/mixins/_resize.scss",
        "src/SCSS/bootstrap/mixins/_screen-reader.scss",
        "src/SCSS/bootstrap/mixins/_size.scss",
        "src/SCSS/bootstrap/mixins/_reset-text.scss",
        "src/SCSS/bootstrap/mixins/_text-emphasis.scss",
        "src/SCSS/bootstrap/mixins/_text-hide.scss",
        "src/SCSS/bootstrap/mixins/_text-truncate.scss",
        "src/SCSS/bootstrap/mixins/_visibility.scss",
        "src/SCSS/bootstrap/mixins/_alert.scss",
        "src/SCSS/bootstrap/mixins/_buttons.scss",
        "src/SCSS/bootstrap/mixins/_caret.scss",
        "src/SCSS/bootstrap/mixins/_pagination.scss",
        "src/SCSS/bootstrap/mixins/_lists.scss",
        "src/SCSS/bootstrap/mixins/_list-group.scss",
        "src/SCSS/bootstrap/mixins/_nav-divider.scss",
        "src/SCSS/bootstrap/mixins/_forms.scss",
        "src/SCSS/bootstrap/mixins/_table-row.scss",
        "src/SCSS/bootstrap/mixins/_background-variant.scss",
        "src/SCSS/bootstrap/mixins/_border-radius.scss",
        "src/SCSS/bootstrap/mixins/_box-shadow.scss",
        "src/SCSS/bootstrap/mixins/_gradients.scss",
        "src/SCSS/bootstrap/mixins/_transition.scss",
        "src/SCSS/bootstrap/mixins/_clearfix.scss",
        "src/SCSS/bootstrap/mixins/_grid-framework.scss",
        "src/SCSS/bootstrap/mixins/_grid.scss",
        "src/SCSS/bootstrap/mixins/_float.scss"
      ]
    },
    {
      "path": "src/SCSS/bootstrap/_utilities.scss",
      "imports": [
        "src/SCSS/bootstrap/utilities/_align.scss",
        "src/SCSS/bootstrap/utilities/_background.scss",
        "src/SCSS/bootstrap/utilities/_borders.scss",
        "src/SCSS/bootstrap/utilities/_clearfix.scss",
        "src/SCSS/bootstrap/utilities/_display.scss",
        "src/SCSS/bootstrap/utilities/_embed.scss",
        "src/SCSS/bootstrap/utilities/_flex.scss",
        "src/SCSS/bootstrap/utilities/_float.scss",
        "src/SCSS/bootstrap/utilities/_overflow.scss",
        "src/SCSS/bootstrap/utilities/_position.scss",
        "src/SCSS/bootstrap/utilities/_screenreaders.scss",
        "src/SCSS/bootstrap/utilities/_shadows.scss",
        "src/SCSS/bootstrap/utilities/_sizing.scss",
        "src/SCSS/bootstrap/utilities/_stretched-link.scss",
        "src/SCSS/bootstrap/utilities/_spacing.scss",
        "src/SCSS/bootstrap/utilities/_text.scss",
        "src/SCSS/bootstrap/utilities/_visibility.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7885,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}