footer
    .footer.pt-5
        .container
            .row
                .col-md-3
                    img.footer__logo(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/logo-187x66.png", alt="index.html")
                    p.footer__txt.mt-md-5.mt-3 #[a.footer__txtlink(href="#") Sparkle Appz] is a professional IT solution and web development company. We provide complete web design and IT services to make your product successful in market with eye-catching outlook and appropriate web design. We put together our delicate, exceptional methods by building in our personal intensive experience. Our own strategy supplies the drive and ready-to-use design necessary to deliver excellent.
                .col-md-3
                    .footer__block
                        h3.footer__title.text-center.text-md-left Important Links
                        .footer__links
                            ul.footer__menu.menu
                                li.footer__item
                                    a.footer__link(href="index.html") #[i.footer__icon.fas.fa-chevron-right] Home
                                li.footer__item
                                    a.footer__link(href="about.html") #[i.footer__icon.fas.fa-chevron-right] About
                                li.footer__item
                                    a.footer__link(href="ios.html") #[i.footer__icon.fas.fa-chevron-right] Services
                                li.footer__item
                                    a.footer__link(href="portfolio.html") #[i.footer__icon.fas.fa-chevron-right] Portfolio
                                li.footer__item
                                    a.footer__link(href="blog.html") #[i.footer__icon.fas.fa-chevron-right] Blog
                                li.footer__item
                                    a.footer__link(href="contact.html") #[i.footer__icon.fas.fa-chevron-right] Contact
                .col-md-3
                    .footer__block
                        h3.footer__title.text-center.text-md-left Useful Links
                        .footer__links
                            ul.footer__menu.menu
                                li.footer__item
                                    a.footer__link(href="ios.html") #[i.footer__icon.fas.fa-chevron-right] IOS App Development
                                li.footer__item
                                    a.footer__link(href="android.html") #[i.footer__icon.fas.fa-chevron-right] Android App Development
                                li.footer__item
                                    a.footer__link(href="websites.html") #[i.footer__icon.fas.fa-chevron-right] Website Development
                                li.footer__item
                                    a.footer__link(href="ui.html") #[i.footer__icon.fas.fa-chevron-right] UI/UX Design Services
                                li.footer__item
                                    a.footer__link(href="unity.html") #[i.footer__icon.fas.fa-chevron-right] Unity 3D Game Development
                                li.footer__item
                                    a.footer__link(href="marketing.html") #[i.footer__icon.fas.fa-chevron-right] SEO / SMM Digital Marketing
                        
                .col-md-3
                    .footer__info.foot
                        h3.footer__title.text-center.text-md-left Get In Touch
                        h4.foot__subtitle Headquarters
                        a.foot__link(href="https://www.google.com.ua/maps/@50.4851493,30.4721233,14z?hl=ru", target='_blank' ) 
                            address 10, Paota, Jodhpur, Rajasthan, India.
                        h4.foot__subtitle.mt-3 Canada Office
                        a.foot__link(href="https://www.google.com.ua/maps/@50.4851493,30.4721233,14z?hl=ru", target='_blank') 
                            address 100 city centre drive mississauga,Ontario, Canada.
                        a.foot__link(href="mailto:info@sparkleappz.com?subject=Hello." ) #[i.foot__icon.far.fa-envelope] info@sparkleappz.com
                        a.foot__link.d-block.mt-3(href="tel:+91-7737791591" ) #[i.foot__icon.fas.fa-phone] +91-7737791591
                        a.foot__link.d-block.mt-3(href="skype:7737791591?call" ) #[i.foot__icon.fab.fa-skype] Aheadtechno
        include ../copyright/_copyright.pug
                        
    