footer
    .footer
        .container
            .row
                .col-3
                    img.footer__logo(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/logo-187x66.png", alt="")
                    p.footer__desc SparkleAppz is a professional IT solution and web development company. We provide complete web design and IT services to make your product successful in market with eye-catching outlook and appropriate web design. We put together our delicate, exceptional methods by building in our personal intensive experience. Our own strategy supplies the drive and ready-to-use design necessary to deliver excellent.
                .col-3
                    .footer__block
                        h3.footer__title Important Links
                        .footer__links
                            ul.footer__menu.menu
                                li.footer__item
                                    
                                    a.footer-item(href="index.html") #[i.footer__icon.fas.fa-chevron-right] Home
                                li.footer__item
                                    a.footer-item(href="about.html") #[i.footer__icon.fas.fa-chevron-right] About
                                li.footer__item
                                    a.footer-item(href="services/services.html") #[i.footer__icon.fas.fa-chevron-right] Services
                                li.footer__item
                                    a.footer-item(href="portfolio.html") #[i.footer__icon.fas.fa-chevron-right] Portfolio
                                li.footer__item
                                    a.footer-item(href="blog.html") #[i.footer__icon.fas.fa-chevron-right] Blog
                                li.footer__item
                                    a.footer-item(href="contact.html") #[i.footer__icon.fas.fa-chevron-right] Contact
                .col-3
                    .footer__block
                        h3.footer__title Useful Links
                        .footer__links
                            ul.footer__menu.menu
                                li.footer__item
                                    a.footer-item(href="#") #[i.footer__icon.fas.fa-chevron-right] IOS App Development
                                li.footer__item
                                    a.footer-item(href="#") #[i.footer__icon.fas.fa-chevron-right] Android App Development
                                li.footer__item
                                    a.footer-item(href="#") #[i.footer__icon.fas.fa-chevron-right] Website Development
                                li.footer__item
                                    a.footer-item(href="#") #[i.footer__icon.fas.fa-chevron-right] UI/UX Design Services
                                li.footer__item
                                    a.footer-item(href="#") #[i.footer__icon.fas.fa-chevron-right] Unity 3D Game Development
                                li.footer__item
                                    a.footer-item(href="#") #[i.footer__icon.fas.fa-chevron-right] SEO / SMM Digital Marketing
                        
                .col-3
                    .footer__info.foot
                        h3.foot__title Get In Touch
                        h4.foot__subtitle Headquarters
                        a.foot__link(href="#" ) 
                            address 10, Paota, Jodhpur, Rajasthan, India.
                        a.foot__link(href="mailto:info@sparkleappz.com?subject=Hello." ) #[i.info__icon.far.fa-envelope] info@sparkleappz.com
                        a.foot__link(href="tel:+91-7737791591" ) #[i.foot__icon.fas.fa-phone] +91-7737791591
                        a.foot__link(href="skype:7737791591?call" ) #[i.foot__icon.fab.fa-skype] Aheadtechno
                        h4.foot__subtitle Canada Office
                        a.foot__link(href="#" ) 
                            address 100 city centre drive mississauga,Ontario, Canada.
    .copyright
        .container
            .row
                .col-12
                    p.copyright-txt Copyright © 2020 Sparkle Appz | All rights reserved.