mixin questionsIos
    section
        .ques
            .container
                    +title('FREQUENTLY ASKED QUESTIONS').ques__title
                    .ques__accordion
                        .ques__headline
                            h3.ques__item #[span.ques__num 01] -What services do you provide?
                        .ques__panel
                            p.ques__txt Our company provides mobile application development and also web development solution and services.
                        .ques__headline
                            h3.ques__item #[span.ques__num 02] - What about project management?
                        .ques__panel
                            p.ques__txt You will be required to interact directly with the developer and manage the project of your choice and you will have Skype and email address of developer.
                        .ques__headline
                            h3.ques__item #[span.ques__num 03] - Result Oriented Projects
                        .ques__panel
                            p.ques__txt The cost of the development of an app depends on the project size, to technical complexity,to your choice of development partner.
                        .ques__headline
                            h3.ques__item #[span.ques__num 04] 04 - How do you plan to maintain your app after launched?
                        .ques__panel
                            p.ques__txt After the launching of your application to marketyour project is not entirely finished. We will still have to release updates, fix bugs and new features and improve functionality.
                        .ques__headline
                            h3.ques__item #[span.ques__num 05] 05 - Which platform should we target iOS / Android or both?
                        .ques__panel
                            p.ques__txt We recommend to launch the product in both the platforms because now a days the growing popularity of both iOS and Android.
                        