<!DOCTYPE html>
    html(lang="en")
        include ../../../head.pug
        body
            include ../../blocks-secondary/title/_title.pug
            include ../../blocks-secondary/nav/_nav.pug
            include ../../blocks-secondary/head/_head.pug
            include ../glimpse/_glimpse.pug
            include ../build/_build.pug
            include ../development/_development.pug
            include ../questions/_questions.pug
            include ../../blocks-secondary/scrollTop/_scrollTop.pug
            include ../../blocks-secondary/headline/_headline.pug
            +nav('','','nav__active')
           
            +head('UNITY 3D GAME', 
                'DEVELOPMENT', 
                'Apart from mobile app development on iOS and Android platforms, our company is also an expertise in mobile gaming development using Unity 3D. We have successfully designed and developed multiple successful 3D graphics, imaging, and visualization application for our customers.Our game developers ensure that they give their best to deliver top notch 2D and 3D games. We make sure that we deliver thrilling games that have awesome graphics and unbeatable performance level.', 
                '',
                'portfolio.html',
                'Our portfolio',
                "https://www.sparkleappz.com/wp-content/uploads/2020/01/img_slider-3.png",
                'unity 3D'
                )
            
            +glimpse('GLIMPSE OF WORK', 
                'Mobile game development has taken a boom in the market. As a software development company, SparkleAppz offers complete services of Unity 3D games with interactive gameplays.',
            
                'We have created games with a hook element as a key to launching into the marketplace with log lasting success.', 
            
                'portfolio.html', 
                'SEE OUR WORK'
                )
            
            +build('BUILD AN UNITY APP FOR ANY DEVICE',
                'We at SparkleAppz, ensure Unity3D development process which makes it very apparent for any business application to present their gaming standard with magnificent design & great UI/UX.',
                
                'https://www.sparkleappz.com/wp-content/uploads/2019/06/unnamed.png',
                'LumberJack',
                'LumberJack',
                '',
                
                'https://www.sparkleappz.com/wp-content/uploads/2019/06/61XmRgGEbL.png',
                'Swing Starboy',
                'Swing Starboy',
                ''
            )
            +dev('UNITY 3D GAME DEVELOPMENT INCLUDES',
                'https://www.sparkleappz.com/wp-content/uploads/2020/01/unity.png',
                        'Unity Game', 
                        'Unity Game', 
                        'When it comes to game development, Unity has proved to be highly effective and easy to use game engine. With its wide range of development tools and rendering, it makes both 2D and 3D games development a breeze across different platforms. We have developed and delivered a wide range of games over the past 10 years.',
                'https://www.sparkleappz.com/wp-content/uploads/2020/01/html5-1.png',
                        'HTML5 Game', 
                        'HTML5 Game', 
                        "We create feature-rich and interactive HTML5 games that reach the highest levels of user engagement. Regardless of the size and complexity of your game, our expert mobile game developers will create an unforgettable gaming experience with state-of-the-art technologies and innovative development methods.",
                'https://www.sparkleappz.com/wp-content/uploads/2020/01/2d3d.png',
                        '2D And 3D Game', 
                        '2D And 3D Game', 
                        'Sparkleappz offers exceptional 2D and 3D game development services across different platforms including iOS, Android and Windows phone. Our team of expert game developers and designers harness the power of the latest technologies and tools to deliver seamless games.',
                'https://www.sparkleappz.com/wp-content/uploads/2020/01/mobile_game.png',
                        'Mobile Game', 
                        'Mobile Game', 
                        "We believe gaming is more than just good graphics and sophisticated coding. Our talented team of highly professional and experienced game developers has a knack for going above and beyond to create games that keep people hooked on for hours. Creating chart-topping games for both iOS and Android is both a passion and a hobby for Cubix’s ingenious game developers."
                )
            +questionsUnity
            
            include ../../blocks-secondary/partners/_partners.pug
            include ../form-dev/_form-dev.pug
            include ../../blocks-secondary/network/_network.pug
            include ../../blocks-secondary/footer/_footer.pug
            
            include ../../../scripts.pug