.glimpse {
  color: white;
  background-color: #315fda;
  &__title {
    margin-top: 70px;
    font-family: $pFont;
    font-weight: bold;
    font-size: 42px;
    line-height: 63px;
    letter-spacing: 2.3px;
    @media screen and (max-width: 575px) {
      margin-top: 40px;
    }
  }

  &__txt,
  &__subtxt {
    font-family: $vFont;
    font-size: 16px;
    line-height: 28px;
  }
  &__link {
    display: block;
    color: white;
    font-family: $mFont;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 3px;
    width: 200px;
    height: 46px;
    border: 2px solid white;
    text-align: center;
    padding-top: 15px;
    border-radius: 50px;
    transition: all 0.3s linear;
    @media screen and (max-width: 575px) {
      width: 100%;
    }
    &:hover {
      text-decoration: none;
      color: #315fda;
      background-color: white;
      transition: all 0.3s linear;
    }
  }
}
