.gallery {
  color: white;
  background-color: #eee;
  padding-bottom: 270px;

  &__block {
    position: relative;
  }
  &__title {
    font-family: $vFont;
    font-size: 30px;
    line-height: 42px;
    @media screen and (max-width: 575px) {
      font-size: 5vw;
      line-height: 24px;
    }
  }
  &__subtitle {
    font-family: $vFont;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: 1px;
    @media screen and (max-width: 575px) {
      font-size: 2vw;
      line-height: 24px;
    }
  }
  &__txt {
    font-family: $vFont;
    font-size: 14px;
    line-height: 26px;
    @media screen and (max-width: 575px) {
      font-size: 3vw;
      line-height: 20px;
    }
  }

  &__link {
    font-family: $vFont;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: #313131;
    display: block;
    width: 30%;
    height: 36px;
    background-color: #fff;
    text-align: center;
    padding-top: 5px;
    @media screen and (max-width: 575px) {
      font-size: 12px;
      width: 100%;
    }

    &:hover {
      text-decoration: none;
    }
  }
  &__img {
    width: 100%;
  }
  &__content {
    position: absolute;
    z-index: 2;
    top: 0;
    margin-top: 20%;
    @media screen and (max-width: 1230px) {
      margin-top: 5%;
      padding: 20px;
    }
    @media screen and (max-width: 1199px) {
      margin-top: 35%;
      padding: 20px;
    }
    @media screen and (max-width: 575px) {
      margin-top: 0;
      padding: 20px;
    }
  }
}
