mixin image(_title, _path, _alt)
    .gallery__block.mt-5
        img.gallery__img(src= _path, alt= _alt)
        .gallery__content
            .row
                .col-md-8.offset-md-2
                    h2.gallery__title= _title
                    h3.gallery__subtitle DECEMBER 27, 2018 
                        span.ml-5 NO COMMENTS
                    p.gallery__txt Duis iaculis mattis rutrum. Sed iaculis magna sit amet suscipit ornare. Nulla ornare leo a tortor aliquam, quis interdum ex tempor. Quisque ultricies consequat suscipit...
                    a.gallery__link(href="about.html") Read More
                    


section
    .gallery
        .container
            .row
                .col-md-6
                    +image('Web animation', 'images/blog/block1.jpg', 'blog image')
                .col-md-6
                    +image('Standardization between design tools', 'images/blog/block2.jpg', 'blog image two')