.gallery {
  color: white;
  background-color: #eee;
  padding-bottom: 270px;

  @media screen and (max-width: 575px) {
    padding-bottom: 140px;
  }
  &__img {
    height: 110%;
  }
  &__content {
    position: absolute;
    z-index: 2;
    top: 50%;
    margin-top: -25%;

    @media screen and (max-width: 991px) {
      top: 25%;
    }

    @media screen and (max-width: 767px) {
      padding: 30px;
      top: 50%;
    }

    @media screen and (max-width: 575px) {
      padding: 30px;
      top: 35%;
    }
  }
  &__block {
    position: relative;
  }
  &__title {
    font-family: $vFont;
    font-size: 30px;
    line-height: 42px;

    @media screen and (max-width: 575px) {
      font-size: 5vw;
      line-height: 24px;
    }
  }
  &__subtitle {
    font-family: $vFont;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: 1px;

    @media screen and (max-width: 575px) {
      font-size: 2vw;
      line-height: 24px;
    }
  }
  &__txt {
    font-family: $vFont;
    font-size: 14px;
    line-height: 26px;
  }

  &__link {
    font-family: $vFont;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: #313131;
    display: block;
    width: 30%;
    height: 36px;
    background-color: #fff;
    text-align: center;
    padding-top: 5px;

    @media screen and (max-width: 991px) {
      width: 50%;
    }
    @media screen and (max-width: 767px) {
      font-size: 12px;
      width: 25%;
    }
    @media screen and (max-width: 767px) {
      width: 40%;
    }
    &:hover {
      text-decoration: none;
    }
  }
}
