section
    .main__port
        .container
            .row
                .col-6
                    .port__link
                        a.port-link(href="#")
                            img.port__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/IG-Cleaner_inner.jpg", alt="IG Cleaner inner")
                            h3.port__title IG Cleaner inner
                .col-6
                    .port__link
                        a.port-link(href="")
                            img.port__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/Nomadic-Wall_inner.jpg", alt="Nomadic Wall inner")
                            h3.port__title Nomadic Wall inner
                .col-6
                    .port__link
                        a.port-link(href="")
                            img.w-100.port__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/Keezi-Keyboards-Free_inner.jpg", alt="Keezi Keyboards Free inner")
                            h3.port__title Keezi Keyboards Free inner
                .col-6
                    .port__link
                        a.port-link(href="")
                            img.w-100.port__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/hidephoto-inner.jpg", alt="")
                            h3.port__title
                .col-12
                    .port__btn
                        a.port-btn(href="") Check out other Projects
                            i.fas.fa-long-arrow-alt-right