section
    .main__portfolio.portfolio
        .container
            +title('Portfolio').portfolio__title
            .row.d-flex.justify-content-center
                .col-10
                    .portfolio__slider.swiper-container
                        .portfolio__wrapper.swiper-wrapper
                            .portfolio__slide.swiper-slide
                                img.img-lg-fluid.portfolio__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/Nomadic-Wall_inner.jpg", alt="Nomadic Wall inner")
                            .portfolio__slide.swiper-slide
                                img.img-lg-fluid.portfolio__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/Keezi-Keyboards-Free_inner.jpg", alt="Keezi Keyboards Free inner")
                            .portfolio__slide.swiper-slide
                                img.img-lg-fluid.portfolio__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/hidephoto-inner.jpg", alt="hidephoto")
                            
                .col-3.mt-2.d-flex.justify-content-center
                    .portfolio__pagination.mx-auto.swiper-pagination.d-flex.justify-content-between.align-items-center
            .row
                .col-12.col-sm-8.col-lg-4.col-xl-3.mx-auto
                    a.portfolio__btn.mx-auto(href="portfolio.html") Chek Out Other Project
                        i.portfolio__icon.fas.fa-long-arrow-alt-right