.portfolio {
  &__title {
    @extend %title-p-b;
  }
  &__slider {
    margin-top: 45px;
  }
  &__btn {
    @include title($mFont, 16px, 16px, 500);
    text-transform: unset;
    color: white;
    display: block;
    width: 320px;
    height: 46px;
    border: 1px solid white;
    transition: all 0.3s linear;
    border-radius: 50px;
    background-color: #2185f5;
    padding-top: 14px;
    margin-top: 77px;
    margin-bottom: 62px;
    box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.16);
    &:hover {
      text-decoration: none;
      color: #2185f5;
      transition: all 0.3s linear;
      background-color: #fff;
      border: 1px solid #2185f5;
    }
  }
  &__pagination {
    & .swiper-pagination-bullet {
      //   background-color: #2185f5;
      &:not(:first-of-type) {
        margin-left: 20px;
      }
      &:focus {
        outline: none;
      }
    }
  }
  &__icon {
    margin-left: 14px;
  }
}
