section
    .main__work.work
        .container
            .row
                .col-12
                    .work__content(data-aos="fade-right", data-aos-duration="1000")
                        h2.work__title We love
                        h3.work__subtitle What we do
                        p.work__text #[a.work__link(href="#") Sparkle Appz] values their customers and strives to deliver software applications for them. These solutions help enterprises and clients increase productivity and facilitate workflow management. We focus to deliver our expertise to our clients within time and make sure that our solutions be aesthetic, technically functional, user-friendly and responsive.
                    .work__button
                        a.work__btn.mx-auto(href="services/contact.html",data-aos="fade-up", data-aos-duration="1000") About us