.work {
  background-color: #f9fafd;

  &__title {
    margin-top: 78px;
    @include title($mFont, 50px, 70px, 700);
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.11);
  }
  &__subtitle {
    @include title($mFont, 50px, 70px, 300);
  }
  &__text {
    @include title($mFont, 14px, 26px, 500);
    text-transform: unset;
  }
  &__link {
    @extend %link;
  }

  &__btn {
    @include title($mFont, 16px, 16px, 500);
    text-transform: unset;
    color: white;
    display: block;
    width: 174px;
    height: 46px;
    border: 1px solid white;
    transition: all 0.3s linear;
    border-radius: 50px;
    background-color: #3425f4;
    padding-top: 14px;
    margin-top: 77px;
    margin-bottom: 62px;
    &:hover {
      text-decoration: none;
      color: #3425f4;
      transition: all 0.3s linear;
      background-color: #fff;
      border: 1px solid #3425f4;
    }
  }
}
