section
    .main__form.form
        .container
            .row
                include form-block/_form-block.pug
                .col-xl-5
                    .form__info.info
                        .row
                            .col-sm-7.offset-sm-5
                                .info__title
                                        h3.info__title.text-center.text-sm-left REACH US
                            .col-sm-5
                                .info__image
                                    img.mx-auto.d-block.info__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/headquater.png", alt="headquater")
                            .col-sm-7
                                .info__content
                                    h4.info__subtitle.text-center.text-sm-left Headquarters
                                .info__links.d-flex.flex-column.justify-content-center
                                    a.info__link.mt-2.mb-n3(href="https://www.google.com.ua/maps/@50.4851493,30.4721233,14z?hl=ru") 
                                        address 10, Paota, Jodhpur, Rajasthan, India.
                                    a.info__link(href="mailto:info@sparkleappz.com?subject=Hello." ) #[i.info__icon.far.fa-envelope] info@sparkleappz.com
                                    a.info__link(href="tel:+91-7737791591" ) #[i.info__icon.fas.fa-phone] +91-7737791591
                                    a.info__link(href="skype:7737791591?call" ) #[i.info__icon.fab.fa-skype] Aheadtechno
                            .col-sm-5
                                .info__image
                                    img.mx-auto.d-block.info__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/canada.png", alt="canada")
                            .col-sm-7
                                .info__content
                                    h4.info__subtitle.text-center.text-sm-left Canada Office
                                    a.info__link.mt-4(href="#" ) 
                                        address 100 city centre drive mississauga,Ontario, Canada.
                            .col-12    
                                .form__links.mt-5
                                    .row.mb-5
                                        .col-6
                                            .info__button.d-flex.justify-content-end
                                                a.info__btn.text-center(href="services/contact.html") Call us
                                                    i.ml-1.form-icon.fas.fa-phone
                                        .col-6
                                            .info__button.d-flex.justify-content-srart
                                                a.info__btn.info__btn--width.text-center.ml-n4(href="#" ) #[i.form__icon.fab.fa-whatsapp] Whatsapp Us