section
    .main__process.process
        .container
            +title("Process we Follow").process__caption
            .process__blocks
                .row.d-flex.justify-content-center
                    .col-3
                        h3.process__number 01
                        .process__block.d-flex.flex-column.align-items-center
                            img.process__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/requirment.png", alt="requirment")
                            h4.process__subtitle Requirements Gathering
                            p.process__text Requirement gathering is the first and very importants part of our mobile app development process.
                    .col-3
                        h3.process__number 02
                        .process__block.d-flex.flex-column.align-items-center
                            img.process__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/uidesign.png", alt="uidesign")
                            h4.process__subtitle UI/UX Design
                            p.process__text We create eye catching design with the help of latest tools of designing.
                    .col-3
                        h3.process__number 03
                        .process__block.d-flex.flex-column.align-items-center
                                img.process__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/prototype.png", alt="prototype")
                                h4.process__subtitle App Prototype
                                p.process__text After designing,the prototype of your app gets ready which is sent for development then.
                    .col-3
                        h3.process__number 04
                        .process__block.d-flex.flex-column.align-items-center
                            img.process__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/appdevelopment.png", alt="appdevelopment")
                            h4.process__subtitle App Development
                            p.process__text The development gets started on the preferable platforms with complete tranparency.
                    .col-3
                        h3.process__number 05
                        .process__block.d-flex.flex-column.align-items-center
                            img.process__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/quality-2.png", alt="quality")
                            h4.process__subtitle Quality Assurance
                            p.process__text We do not compromise in quality so wemake sure get 100% bug free app.
                    .col-3
                        h3.process__number 06
                        .process__block.d-flex.flex-column.align-items-center
                            img.process__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/deployment.png", alt="deployment")
                            h4.process__subtitle App Deployment
                            p.process__text Your app is ready to appear on playstore or playstore on this stage of develpment.
                    .col-3
                        h3.process__number 07
                        .process__block.d-flex.flex-column.align-items-center
                            img.process__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/support-1.png", alt="support")
                            h4.process__subtitle Support & Maintainance
                            p.process__text We give support and answer every query after deployment.