.process {
  background-color: $bg;
  padding-bottom: 110px;
  @media screen and (max-width: 575px) {
    padding-bottom: 40px;
  }

  &__block {
    margin-left: -10px;
    margin-right: -10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 8px -4px #000000;
    transition: all 0.3s linear;
    height: 360px;
    @media screen and (max-width: 575px) {
      padding-bottom: 320px;
    }
    &:hover {
      box-shadow: 0px 0px 16px -4px #000000;
      transition: all 0.3s linear;
      cursor: pointer;
    }
  }
  &__number {
    margin-top: 38px;
    @extend %text-v-r;
    font-size: 30px;
    line-height: 42px;
    color: #3a3a3a;
    text-align: center;
  }
  &__subtitle {
    margin-top: 30px;
    @extend %subtitle-v-r;
    line-height: 29px;
    font-weight: 600;
    pointer-events: none;
    text-align: center;
  }
  &__text {
    @extend %text-v-r;
    text-align: center;
    pointer-events: none;
  }
}
