section
    .main__help.help#app
            .container
                .row
                    .col-12
                        .help__headline(data-aos="fade-left",data-aos-duration="1000")
                            h2.help__title How we can help you?
                    .col-10.mx-auto
                        .help__text(data-aos="fade-right",data-aos-duration="1000")
                            p.help__txt.text-center We believe in building #[strong fully fledged, stable, and scalable product applications and designs.]  We professionally cater all the major platforms and development tools including #[a.help__link(href="android.html" ) Android,] #[a.help__link(href="ios.html" ) IOS,]  #[a.help__link(href="unity.html" ) Unity3D,] #[a.help__link(href="ui.html" ) UI/UX designs,] #[a.help__link(href="websites.html" ) Web development] services. We also offer SEO & ASO which is essential for any digital marketing strategy.