section
    .main__values.values
        .container
            .row
                .col-12
                    h2.values__title Our values
                    p.values__subtitle They define who we are as a professional team and what make us to stand out
            .values__blocks
                .row
                    .col-3
                        .values__block.d-flex.flex-column.align-items-center
                            .values__image
                                img.values__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/eficiency.png", alt="eficiency")
                            h3.values__descr Efficiency
                            p.values__txt We builds Software that deliver results.
                    .col-3
                        .values__block.d-flex.flex-column.align-items-center
                            .values__image
                                img.values__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/quality.png", alt="qua  lit")
                            h3.values__descr Quality
                            p.values__txt We have high standard for all the things we develop
                    .col-3
                        .values__block.d-flex.flex-column.align-items-center
                            .values__image
                                img.values__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/integrity.png", al  t="")
                            h3.values__descr Integrity
                            p.values__txt We do what's right even when its not an easy thing to do
                    .col-3
                        .values__block.d-flex.flex-column.align-items-center
                            .values__image
                                img.values__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/unity.png", alt="un ity")
                            h3.values__descr Unity
                            p.values__txt We are a tem so we appreciate every point