section
    .main__values.values
        .container
            +title('Our values').values__title 
            p.values__subtitle They define who we are as a professional team and what make us to stand out
            .values__blocks
                .row
                    .col-md-3
                        .values__block.d-flex.flex-column.align-items-center
                            .values__image
                                img.values__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/eficiency.png", alt="eficiency")
                            h3.values__descr Efficiency
                            p.values__txt We builds Software that deliver results.
                    .col-md-3
                        .values__block.d-flex.flex-column.align-items-center
                            .values__image
                                img.values__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/quality.png", alt="qualit")
                            h3.values__descr Quality
                            p.values__txt We have high standard for all the things we develop
                    .col-md-3
                        .values__block.d-flex.flex-column.align-items-center
                            .values__image
                                img.values__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/integrity.png", alt="integrity")
                            h3.values__descr Integrity
                            p.values__txt We do what's right even when its not an easy thing to do
                    .col-md-3
                        .values__block.d-flex.flex-column.align-items-center
                            .values__image
                                img.values__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/unity.png", alt="unity")
                            h3.values__descr Unity
                            p.values__txt We are a tem so we appreciate every point