section
    .main__form.form
        .container
            .row
                .col-7
                    form(action="", method="get")
                        .form-group.mb-5
                            .form__title
                                h3.form-title GET IN TOUCH
                            .form__text
                                p.form-text We’re here for you, and we’re wearing our thinking caps. But first swing by our fantastic Help Center for all your Sparkle Appz product and technical needs!
                            .row
                                .col-6
                                    .form__input.mr-n1
                                        input#name.form-control(type='text', placeholder = 'Name', name='name', required)
                                .col-6
                                    .form__input.ml-n1
                                        input#email.form-control(type='email', placeholder = 'Email',name='email', required)
                            .row
                                .col-6
                                    .form__input.mr-n1
                                        input#phone.form-control(type='tel', placeholder = 'Phone',name='phone', required)
                                    
                                .col-6
                                    .form__input.ml-n1
                                        input#skype.form-control(type='text', placeholder = 'Skype',name='skype')
                                .col-12
                                    .form__area.form__input.mt-2
                                        textarea#message.form-control(rows='3', placeholder = 'Message', name='message')
                                .col-12
                                    .form__input
                                        input#budget.form-control(type='text', placeholder = 'Budget',name='budget')
                                .col-4.mx-auto.mt-4.mb-5
                                    .form__button
                                        button.form__btn(type='submit') Get a Quote
                .col-5
                    .form__info.info
                        .row
                            .col-7.offset-5
                                .info__title
                                        h3.info__title REACH US
                            .col-5
                                .info__image
                                    img.mx-auto.d-block.info__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/headquater.png", alt="headquater")
                            .col-7
                                .info__content
                                    h4.info__subtitle Headquarters
                                .info__links.d-flex.flex-column.justify-content-center
                                    a.info__link.mt-2.mb-n3(href="#" ) 
                                        address 10, Paota, Jodhpur, Rajasthan, India.
                                    a.info__link(href="mailto:info@sparkleappz.com?subject=Hello." ) #[i.info__icon.far.fa-envelope] info@sparkleappz.com
                                    a.info__link(href="tel:+91-7737791591" ) #[i.info__icon.fas.fa-phone] +91-7737791591
                                    a.info__link(href="skype:7737791591?call" ) #[i.info__icon.fab.fa-skype] Aheadtechno
                            .col-5
                                .info__image
                                    img.mx-auto.d-block.info__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/canada.png", alt="canada")
                            .col-7
                                .info__content
                                    h4.info__subtitle Canada Office
                                    a.info__link.mt-4(href="#" ) 
                                        address 100 city centre drive mississauga,Ontario, Canada.
                            .col-12    
                                .form__links.mt-5
                                    .row
                                        .col-6
                                            .info__button.d-flex.justify-content-end
                                                a.info__btn.text-center(href="services/contact.html") Call us
                                                    i.ml-1.form-icon.fas.fa-phone
                                        .col-6
                                            .info__button.d-flex.justify-content-srart
                                                a.info__btn.info__btn--width.text-center.ml-n4(href="#" ) #[i.form__icon.fab.fa-whatsapp] Whatsapp Us