include headline/_headline.pug
include nav/_nav.pug
main.main
    include head/_head.pug
    include work/_work.pug
    include help/_help.pug
    include service/_service.pug
    include partners/_partners.pug
    include portfolio/_port.pug   
    
    section
        .main__slider
            .container
                .row
                    .col-12
    
    include process/_process.pug
    include ranking/_ranking.pug
    include clients/_clients.pug
    include features/_features.pug
    include technologies/_technologies.pug
    include industries/_industries.pug
    include values/_values.pug
    
    //- section
    //-     .main__slider-s
    //-         .container
    //-             .row
    //-                 .col-12
    //-                     .slider-s__block
    //-                         img.slider-s__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/banner_img.png", alt="banner")
    //-                         h2.slider-s__title we coceptualize
    //-                         p.slider-s__txt WE CONCEPTUALIZE, DESIGN AND DEVELOP APPS THAT PEOPLE LOVE
    //-                     .slider-s__block
    //-                         img.slider-s__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/banner_img.png", alt="")
    //-                         h2.slider-s__title we coceptualize
    //-                         p.slider-s__txt WE CONCEPTUALIZE, DESIGN AND DEVELOP APPS THAT PEOPLE LOVE
    //-                     .slider-s__block
    //-                         img.slider-s__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/banner_img.png", alt="")
    //-                         h2.slider-s__title we coceptualize
    //-                         p.slider-s__txt WE CONCEPTUALIZE, DESIGN AND DEVELOP APPS THAT PEOPLE LOVE
    include form/_form.pug
    include network/_network.pug
    include footer/_footer.pug
    include copyright/_copyright.pug
    

                    





