include ../blocks-secondary/title/_title.pug
include ../blocks-secondary/headline/_headline.pug
include ../blocks-secondary/nav/_nav.pug
+nav('nav__active')

main.main
    //- include ../blocks-secondary/nav/burger/_burger.pug
    //- +burger
    include head/_head.pug
    include work/_work.pug
    include help/_help.pug
    include service/_service.pug
    include ../blocks-secondary/partners/_partners.pug
    include portfolio/_port.pug   
    
    include ../blocks-secondary/process/_process.pug
    include ../blocks-secondary/ranking/_ranking.pug
    include clients/_clients.pug
    include features/_features.pug
    include technologies/_technologies.pug
    include industries/_industries.pug
    include values/_values.pug
    include ../blocks-secondary/team/_team.pug
    
    include ../blocks-secondary/form/_form.pug
    include ../blocks-secondary/network/_network.pug
    include ../blocks-secondary/footer/_footer.pug
    include ../blocks-secondary/copyright/_copyright.pug
    

                    





