.copyright
        .container
            .row
                .col-12
                    p.copyright-txt.d-block.mx-auto.text-center.pt-4 
                        |Copyright © 2020 Sparkle Appz 
                        br
                        | All rights reserved.