section
    .desc
        .container
            .desc__blocks
                .row.d-flex.justify-content-center
                    .col-3
                        h2.desc__title WHO ARE WE
                        p.desc__txt We are a group of dedicated #[a.desc__link(href="#") IT professionals], providing software and digital marketing solutions.
                    .col-1
                        hr.desc__line
                    .col-3
                        h2.desc__title OUR MISSION
                        p.desc__txt We believe in delivering unique and #[a.desc__link(href="#") reliable software solutions] to assist our clients in improving IT efficiency and business profitably.
                    .col-1
                        hr.desc__line
                    .col-3
                        h2.desc__title WHAT WE DO
                        p.desc__txt To provide the best solutions to the clients as per their business needs by providing #[a.desc__link(href="#") customized development] services.