.desc {
  &__blocks {
    margin-top: 50px;
    margin-bottom: 100px;
  }
  &__title {
    @extend %title-p-b;
    font-size: 28px;
    margin-top: 40px;
  }
  &__txt {
    @extend %text-v-r;
    font-size: 18px;
    line-height: 33px;
  }
  &__link {
    @extend %link;
  }
  &__line {
    width: 1px;
    height: 100%;
    background-color: #7a7a7a;
  }
}
