.tech {
  background-color: $bg;

  &__title {
    @extend %title-p-b;
    margin-top: 90px;
  }

  &__button {
    color: #8c8c8c;
    font-size: 22px;
    margin-top: 119px;
    cursor: pointer;
    :focus {
      outline: none;
    }
  }

  &__slider {
    margin-top: 40px;
    margin-bottom: 90px;
  }
}
