section
    .main__.tech.tech
        .container
            +title('TECHNOLOGIES WE USE').tech__title
            .row
                .col-10.mx-auto.order-2
                    .tech__slider.swiper-container
                        .tech__wrapper.swiper-wrapper
                            .tech__slide.swiper-slide
                                img.tech__image(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/android-1.png", alt="android")
                            .tech__slide.swiper-slide
                                img.tech__image(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/swift.png", alt="swift")
                            .tech__slide.swiper-slide
                                img.tech__image(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/react.png", alt="react")
                            .tech__slide.swiper-slide
                                img.tech__image(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/java.png", alt="java")
                            .tech__slide.swiper-slide
                                img.tech__image(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/flutter.png", alt="flutter")
                            .tech__slide.swiper-slide
                                img.tech__image(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/node.png", alt="node")
                .col-1.order-3   
                    .tech__button.d-flex.justify-content-center
                        i.tech__icon-next.fas.fa-chevron-right
                .col-1.order-1    
                    .tech__button.d-flex.justify-content-center
                        i.tech__icon-prev.fas.fa-chevron-left
                    