section
    .main__tech.tech
        .container
            .row
                .col-12
                    h2.tech__title Technologies we use
                    img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/android-1.png", alt="android")
                    img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/swift.png", alt="swift")
                    img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/react.png", alt="react")
                    img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/flutter.png", alt="flutter")
                    img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/java.png", alt="java")
                    img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/js.png", alt="js")
                    img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/node.png", alt="node")
                    img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/php.png", alt="php")
                    img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/wordpress.png", alt="wordpress")