.tech {
  background-color: $bg;

  &__button {
    color: #8c8c8c;
    font-size: 22px;
    margin-top: 150%;
    cursor: pointer;
    :focus {
      outline: none;
    }
  }

  &__slider {
    margin-top: 40px;
  }

  &__image {
    width: 100%;
  }
}
