<!DOCTYPE html>
    html(lang="en")
        include ../../head.pug
        body
            include ../blocks-secondary/scrollTop/_scrollTop.pug
            include ../blocks-secondary/title/_title.pug
            include ../blocks-secondary/nav/_nav.pug
            include ../blocks-secondary/head/_head.pug
            include ../blocks-secondary/headline/_headline.pug
            +nav('','','','nav__active')
            +head('PORTFOLIO', 
                '', 
                
                'Sparkle Appz celebrates a wide range of successful portfolio of Mobile, Web and Unity 3D game applications for business and consumers alike.', 
                
                'ASO and SEO have also been important to increasing Apps and Website’s search engine rankings. We have everything you need to bring ideas to life and transform how you create digital products.',
                
                'contact.html',
                'Contact Us Today',
                "https://www.sparkleappz.com/wp-content/uploads/2020/01/images_slider.png",
                'working')
            include projects/_projects.pug
            include ../blocks-secondary/partners/_partners.pug
            include ../blocks-secondary/form-second/_form-second.pug
            include ../blocks-secondary/network/_network.pug
            include ../blocks-secondary/footer/_footer.pug
            
            include ../../scripts.pug