section
    .main__partners.partners
        .container
            +title("Who we've worked with").partners__title
            .row.mt-5
                .col-10.mx-auto.order-2
                    .partners__slider.swiper-container
                        .partners__wrapper.swiper-wrapper
                            .partners__slide.swiper-slide
                                img.partners__image(src="images/slider/1.png", alt="slide 1")
                            .partners__slide.swiper-slide
                                img.partners__image(src="images/slider/3.png", alt="slide 2")
                            .partners__slide.swiper-slide
                                img.partners__image(src="images/slider/4.png", alt="slide 3")
                            .partners__slide.swiper-slide
                                img.partners__image(src="images/slider/5.png", alt="slide 4")
                            .partners__slide.swiper-slide
                                img.partners__image(src="images/slider/6.png", alt="slide 5")
                            .partners__slide.swiper-slide
                                img.partners__image(src="images/slider/7.png", alt="slide 6")
                            .partners__slide.swiper-slide
                                img.partners__image(src="images/slider/8.png", alt="slide 7")
                .col-1.order-3   
                    .partners__button.d-flex.justify-content-center
                        i.partners__icon-next.fas.fa-chevron-right
                .col-1.order-1    
                    .partners__button.d-flex.justify-content-center
                        i.partners__icon-prev.fas.fa-chevron-left
                    
                        
                        
                