section
    .main__ranking.ranking
        .container
            +title("Top ranking on").ranking__title
            .row.mt-3    
                .col-3
                    img.ranking__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/1.png", alt="clutch")
                .col-3
                    img.ranking__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/4.png", alt="upwork")
                .col-3
                    img.ranking__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/3.png", alt="appfutura")
                .col-3
                    img.ranking__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/2.png", alt="goodfirms")