section
    .main__ranking.ranking
        .container
            +title("Top ranking on").ranking__title
            .row.mt-lg-3    
                .col-md-3
                    img.img-fluid.mx-auto.d-block.ranking__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/1.png", alt="clutch")
                .col-md-3
                    img.img-fluid.mx-auto.d-block.ranking__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/4.png", alt="upwork")
                .col-md-3
                    img.img-fluid.mx-auto.d-block.ranking__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/3.png", alt="appfutura")
                .col-md-3
                    img.img-fluid.mx-auto.d-block.ranking__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/2.png", alt="goodfirms")