section
    .network__links.network
        .container
            .network__blocks.mt-3.mb-5
                .row
                    .col-10.offset-2.col-md-4.offset-md-0.col-xl-2.offset-xl-0.mt-3
                        .network__item
                            a.network__link(href="https://www.facebook.com/", target='_blank') 
                                    img.network__icon(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/fb.png", alt="facebook") 
                                    | Facebook
                    .col-10.offset-2.col-md-4.offset-md-0.col-xl-2.offset-xl-0.mt-3
                        .network__item
                            a.network__link(href="https://www.twitter.com/", target='_blank')
                                img.network__icon(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/twitter.png", alt="twitter")
                                | Twitter
                    .col-10.offset-2.col-md-4.offset-md-0.col-xl-2.offset-xl-0.mt-3
                        .network__item
                            a.network__link(href="https://www.instagram.com/", target='_blank')
                                img.network__icon(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/insta.png", alt="instagram")
                                |Instagram
                    .col-10.offset-2.col-md-4.offset-md-0.col-xl-2.offset-xl-0.mt-3
                        .network__item
                            a.network__link(href="https://www.linkedin.com", target='_blank')
                                img.network__icon(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/inkedin.png", alt="linkedin")
                                |Linkedin
                    .col-10.offset-2.col-md-4.offset-md-0.col-xl-2.offset-xl-0.mt-3
                        .network__item
                            a.network__link(href="https://www.clutch.com", target='_blank')
                                img.network__icon(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/clutch.png", alt="clutch")
                                |Clutch
                    .col-10.offset-2.col-md-4.offset-md-0.col-xl-2.offset-xl-0.mt-3
                        .network__item
                            a.network__link(href="https://www.upwork.com", target='_blank')
                                img.network__icon(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/upwork.png", alt="upwork")
                                | Upwork