section
    .network__links.network
        .container
            .network__blocks.mt-5.mb-5
                .row
                    .col-2
                        a.network__link(href="https://www.facebook.com/") 
                            img.network__icon(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/fb.png", alt="") 
                            | Facebook
                    .col-2
                        a.network__link(href="https://www.facebook.com/")
                            img.network__icon(src="https:www.sparkleappz.com/wp-content/uploads/2019/12/twitter.png", alt="")
                            | Twitter
                    .col-2
                        a.network__link(href="https://www.facebook.com/")
                            img.network__icon(src="https:www.sparkleappz.com/wp-content/uploads/2019/12/insta.png", alt="")
                            |Instagram
                    .col-2
                        a.network__link(href="www.linkedin.com")
                            img.network__icon(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/inkedin.png", alt="")
                            |Linkedin
                    .col-2
                        a.network__link(href="")
                            img.network__icon(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/clutch.png", alt="")
                            |Clutch
                    .col-2
                        a.network__link(href="")
                            img.network__icon(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/upwork.png", alt="")
                            | Upwork