mixin devBlock(_img, _alt, _title, _txt)
    .col-6
        .dev__block
            img.dev__img.mt-3(src= _img, alt= _alt)
            h2.dev__subtitle.my-3= _title
            p.dev__txt= _txt

mixin dev()
    section
        .dev.pb-5
            .container
                    +title('IOS APP DEVELOPMENT SERVICES INCLUDES').dev__title               
                    .row    
                        +devBlock('https://www.sparkleappz.com/wp-content/uploads/2020/01/swift-1.png',
                        'swift', 
                        'Swift', 
                        'Swift was lauched by Apple for developing iOS applications Swift provides safeguards to prevent errors and improve readability. Fast. Swift was built with performance in mind. Swift minimizes the monotonous undertakings, workload, and bookkeeping')
                        +devBlock('https://www.sparkleappz.com/wp-content/uploads/2020/01/objectiveC.png',
                        'Objective C', 
                        'Objective C', 
                        'The language which was represented as Objective-C without C by the beginner Apple. Our pool of talented developers highly endorse this language because it is protected, speedier,and packed with an abnormal state of interactivity aids, responsive, resulting robust apps for customers as well as business holders.')
                        +devBlock('https://www.sparkleappz.com/wp-content/uploads/2020/01/iphone.png',
                        'iPhone Apps', 
                        'iPhone Apps', 
                        'We ensure that customers are provided with rich experience through our iOS app development services with an emphasis on timely delivery, cost effective solutions and transparent development processes.')
                        +devBlock('https://www.sparkleappz.com/wp-content/uploads/2020/01/ipad.png',
                        'iPad Apps', 
                        'iPad Apps', 
                        'The iPad has remained the top-of-the-line and the most demanded tablet on the market. Our app developers are skilled enough to go with pace of developing responsive, robust and cherish able apps to meet the customer’s requirement.')

