.nav {
  &__block {
    display: flex;
    flex-direction: row;
    justify-content: between;
    align-items: baseline;

    @media screen and (max-width: 1032px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__line {
    margin-top: 0;
    @media screen and (max-width: 921px) {
      display: none;
    }
  }
}

.menu {
  display: flex;
  margin-left: auto;

  @media screen and (max-width: 921px) {
    display: none !important;
  }

  &__item {
    &:hover .submenu {
      visibility: visible;
      transition: all 0.2s linear;
      opacity: 1;
    }
  }

  &__link {
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    line-height: 56px;
    text-transform: uppercase;
    color: #3a3a3a;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s linear;
    padding: 0 14px;

    &:hover {
      color: #4169e1;
      transition: all 0.3s linear;
      text-decoration: none;
    }
  }

  &__btn {
    padding-top: 12px;
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #191a1d;
    display: block;
    text-align: center;
    height: 45px;
    width: 150px;
    border-radius: 50px;
    font-size: 13px;
    color: #2355da;
    border: 2px solid #2355da;
    text-decoration: none;
    transition: all 0.3s linear;

    &:hover {
      color: white;
      background-color: #2355da;
      text-decoration: none;
    }

    &--call {
      margin-left: 3px;
      color: #4de55c;
      border: 2px solid #4de55c;
      height: 45px;
      width: 80px;
      &:hover {
        background-color: #4de55c;
        text-decoration: none;
      }
    }
  }

  &__icon {
    font-size: 9px;
  }
}

.submenu {
  visibility: hidden;
  position: absolute;
  z-index: 100;
  transition: all 0.2s linear;
  opacity: 0;
  border: 1px solid #2355da;
  background-color: #fff;

  &__link {
    display: block;
    font-family: $vFont;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #3a3a3a;
    padding: 12px;
    border-bottom: 1px solid #eaeaea;
    &:hover {
      color: #2355da;
      text-decoration: none;
    }
  }
}
