.menu {
  &-item {
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    line-height: 56px;
    text-transform: uppercase;
    color: #3a3a3a;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s linear;
    padding: 0 14px;

    &--float {
      @media screen and (max-width: 921px) {
        display: none;
      }
    }
    @media screen and (max-width: 921px) {
      display: none;
    }
    &:hover {
      color: #4169e1;
      transition: all 0.3s linear;
      text-decoration: none;
    }
  }

  &__icon {
    font-size: 9px;
  }
}
.nav {
  background-color: white;
  top: 0;
  z-index: 100;

  &__item {
    &:hover .submenu {
      visibility: visible;
      transition: all 0.2s linear;
      opacity: 1;
    }
  }

  &-link {
    padding-top: 12px;
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #191a1d;
    display: block;
    text-align: center;
    height: 45px;
    width: 150px;
    border-radius: 50px;
    font-size: 13px;
    color: #2355da;
    border: 2px solid #2355da;
    text-decoration: none;
    transition: all 0.3s linear;

    @media screen and (max-width: 921px) {
      display: none;
    }
    &:hover {
      color: white;
      background-color: #2355da;
    }

    &--call {
      margin-left: 3px;
      color: #4de55c;
      border: 2px solid #4de55c;
      height: 45px;
      width: 80px;
      &:hover {
        background-color: #4de55c;
      }
    }
  }
  &__active {
    color: #2355da;
  }

  &__line {
    margin-top: 0;
  }
}
.scroll {
  margin-top: -80px;
  box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.16);
  background-color: rgba(255, 255, 255, 0.623);
}

.submenu {
  visibility: hidden;
  position: absolute;
  z-index: 100;
  transition: all 0.2s linear;
  opacity: 0;
  border: 1px solid #2355da;
  background-color: #fff;

  &-item {
    display: block;
    font-family: $vFont;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #3a3a3a;
    padding: 12px;
    border-bottom: 1px solid #eaeaea;
    &:hover {
      color: #2355da;
      text-decoration: none;
    }
  }
}
