section
    .main__features.features
        .container
            +title('Our key features').features__title
            p.features__description.mt-sm-4 Services That We Deliver Makes Us Dignified As One of The Top App Development Companies.
            .service__blocks.mt-n2.mt-sm-1
                .row
                    .col-md-6.col-xl-4
                        .features__block
                            .row    
                                .col-sm-3
                                    img.d-block.mx-auto.service__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/client.png", alt="client")
                                .col-sm-9
                                    h3.text-center.text-sm-left.features__subtitle 1.Client Centic Development
                                .col-sm-9.offset-sm-3
                                    p.text-center.text-sm-left.features__text We are the one that levarages best over web,mobiles & blockchain soloutions to the clients by tailoring as per their business requirements.
                    .col-md-6.col-xl-4
                        .features__block
                            .row    
                                .col-sm-3
                                    img.d-block.mx-auto.service__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/agile-1.png?fit=80%2C80&ssl=1", alt="agile")
                                .col-sm-9
                                   h3.text-center.text-sm-left.features__subtitle 2.Agile Development
                                .col-sm-9.offset-sm-3
                                    p.text-center.text-sm-left.features__text We follow Agile Development process which help us to do -liver the projects with utmost quality and solid nproducts.
                    .col-md-6.col-xl-4
                        .features__block
                            .row    
                                .col-sm-3
                                    img.d-block.mx-auto.service__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/dedicated.png", alt="dedicated")
                                .col-sm-9
                                   h3.text-center.text-sm-left.features__subtitle 3.Dedicated Develop Team
                                .col-sm-9.offset-sm-3
                                    p.text-center.text-sm-left.features__text We assign a cost-effective dedicated team to all our projects that not only assures quality but gives excellent support and satisfaction to our valueable clients.
                    .col-md-6.col-xl-4
                        .features__block
                            .row    
                                .col-sm-3
                                    img.d-block.mx-auto.service__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/support.png", alt="support")
                                .col-sm-9
                                   h3.text-center.text-sm-left.features__subtitle 4.Excellent Support
                                .col-sm-9.offset-sm-3
                                    p.text-center.text-sm-left.features__text We are always there to assist our clients in every possible manner in each project phase. Our techniqal team work hard to ensure that the final products meets the clients satisfactions.
                    .col-md-6.col-xl-4
                        .features__block
                            .row    
                                .col-sm-3
                                    img.d-block.mx-auto.service__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/databackup.png", alt="databackup")
                                .col-sm-9
                                   h3.text-center.text-sm-left.features__subtitle 5.Data Backups
                                .col-sm-9.offset-sm-3
                                    p.text-center.text-sm-left.features__text Regular backups has helped us to survive in every extreme conditions. we carefully clients projects backups to deal with misfortunes in the best possible manners.
                    .col-md-6.col-xl-4
                        .features__block
                            .row    
                                .col-sm-3
                                    img.d-block.mx-auto.service__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/dataprotection.png", alt="dataprotection")
                                .col-sm-9
                                   h3.text-center.text-sm-left.features__subtitle 6.Data Protection
                                .col-sm-9.offset-sm-3
                                    p.text-center.text-sm-left.features__text By signiing NDA, our company ensures the utmost safety of all your provid data. we deliver best products to our fortune clients by maintaining confidentialty.
                    .col-md-6.col-xl-4
                        .features__block
                            .row    
                                .col-sm-3
                                    img.d-block.mx-auto.service__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/quality-1.png", alt="quality")
                                .col-sm-9
                                   h3.text-center.text-sm-left.features__subtitle 7.Quality
                                .col-sm-9.offset-sm-3
                                    p.text-center.text-sm-left.features__text Products to our clients by assuring all their project satisfaction in best industry competetive price.
                    .col-md-6.col-xl-4
                        .features__block
                            .row    
                                .col-sm-3
                                    img.d-block.mx-auto.service__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/enhancement.png", alt="enhancement")
                                .col-sm-9
                                   h3.text-center.text-sm-left.features__subtitle 8.Enhancement
                                .col-sm-9.offset-sm-3
                                    p.text-center.text-sm-left.features__text During Discovery, Designing and development phase, our techniqal team always there to provide suggestions  and edits that impresive their product in best possible manners.