.our {
  &__blocks {
    margin-top: 30px;
    padding-bottom: 80px;
  }

  &__subtitle {
    font-family: $vFont;
    font-size: 35px;
    line-height: 35px;
    color: black;
    position: relative;
  }

  &__num {
    margin-top: -30px;
    font-family: $vFont;
    font-size: 98px;
    line-height: 98px;
    color: #f4f4f4;
    position: absolute;
    z-index: 0;
  }

  &__txt {
    @extend %text-v-r;
    margin-top: 40px;
  }
  &__link {
    @extend %link;
  }
}
