section
    .our
        .container
            +title('OUR 6-D PROCESS').our__title
            .our__blocks
                .row
                    .col-md-4
                        .our__block
                            span.our__num 01
                            h3.our__subtitle Discover
                            p.our__txt We make an in-depth understanding of your problems, expectations, and goals as the means to enhance processes, drive innovation and initiate changes that offer #[a.our__link(href="javascript:void(0)") business growth]  in the future.
                    .col-md-4
                        .our__block.mt-4.mt-md-0
                            span.our__num 02
                            h3.our__subtitle Define
                            p.our__txt We first start with the process of determining what and how a customer wants a product to perform. We believe that #[a.our__link(href="javascript:void(0)") perfect project strategy] can only be achieved by defining the requirements of a project
                    .col-md-4
                        .our__block.mt-4.mt-md-0
                            span.our__num 03
                            h3.our__subtitle Design
                            p.our__txt The next step is to design the software application after assessing the factors like – goals, #[a.our__link(href="javascript:void(0)") specifications] and #[a.our__link(href="javascript:void(0)") requirements], where special attention is made on the usability, searchability and simplicity by following professional design practices.
                    .col-md-4
                        .our__block.mt-4.mt-md-0
                            span.our__num 04
                            h3.our__subtitle Develop
                            p.our__txt In this stage, the actual development starts, and the finalized design files are implemented by following professional approaches of programming to make an #[a.our__link(href="javascript:void(0)") interactive product]. The Beta version of the product is first tested and modified before launching the actual one. This ensures our #[strong client’s]  #[a.our__link(href="javascript:void(0)") expectations] and goals are met.
                    .col-md-4
                        .our__block.mt-4.mt-md-0
                            span.our__num 05
                            h3.our__subtitle Deploy
                            p.our__txt The product is deployed at the consumer’s side and ready to be used and several interrelated activities are followed to ensure a #[a.our__link(href="javascript:void(0)") seamless] use of the product. All the functionalities are monitored for 30 days as a guarantee that the product is functioning properly.
                    .col-md-4
                        .our__block.mt-4.mt-md-0
                            span.our__num 06
                            h3.our__subtitle Drive
                            p.our__txt We #[a.our__link(href="javascript:void(0)") optimize] your site to deliver better information to search engines so that your content can be properly indexed and displayed within search results, making your site equally #[a.our__link(href="javascript:void(0)") convenient]  and reachable for potential and existing #[a.our__link(href="javascript:void(0)") customers]