section
    .main__industries.industries
        .container
            +title('Inductries we serve').industries__title
            p.industries__subtitle.mt-4 Here,We make almost every genere of application of applications. You named it and we build it.
            
            .industries__blocks
                .row
                    .col-md-2.offset-md-1
                        .industries__block.d-flex.flex-column.align-items-center
                            .industries__image
                                img.img-fluid.industries__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/ecommerce.png", alt="ecommerce")
                            p.industries__desc Retail, Ecommerce
                    .col-md-2
                        .industries__block.d-flex.flex-column.align-items-center
                            .industries__image
                                img.img-fluid.industries__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/education.png", alt="education")
                            p.industries__desc Education & e-learning
                    .col-md-2
                        .industries__block.d-flex.flex-column.align-items-center
                            .industries__image
                                img.img-fluid.industries__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/fitness.png", alt="fitness")
                            p.industries__desc Healthcare & Fitness
                    .col-md-2
                        .industries__block.d-flex.flex-column.align-items-center
                            .industries__image
                                img.img-fluid.industries__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/logistic.png", alt="logistic")
                            p.industries__desc Logistic & Distribution
                    .col-md-2
                        .industries__block.d-flex.flex-column.align-items-center
                            .industries__image
                                img.img-fluid.industries__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/social.png", alt="social")
                            p.industries__desc Social Networking
                    .col-md-2.offset-md-1
                        .industries__block.d-flex.flex-column.align-items-center
                            .industries__image
                                img.img-fluid.industries__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/realestate.png", alt="realestate")
                            p.industries__desc Real Estate
                    .col-md-2
                        .industries__block.d-flex.flex-column.align-items-center
                            .industries__image
                                img.img-fluid.industries__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/travel-1.png", alt="travel")
                            p.industries__desc Travel & Hospitality
                    .col-md-2
                        .industries__block.d-flex.flex-column.align-items-center
                            .industries__image
                                img.img-fluid.industries__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/food.png", alt="food")
                            p.industries__desc Food & Restaurants
                    .col-md-2
                        .industries__block.d-flex.flex-column.align-items-center
                            .industries__image
                                img.img-fluid.industries__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/ondemand.png", alt="ondemand")
                            p.industries__desc On-Demand Solutions
                    .col-md-2
                        .industries__block.d-flex.flex-column.align-items-center
                            .industries__image
                                img.img-fluid.industries__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/gaming.png", alt="gaming")
                            p.industries__desc Gaming