<!DOCTYPE html>
    html(lang="en")
        include ../../../head.pug
        body
            include ../../blocks-secondary/title/_title.pug
            include ../../blocks-secondary/nav/_nav.pug
            include ../../blocks-secondary/head/_head.pug
            include ../glimpse/_glimpse.pug
            include ../build/_build.pug
            include ../development/_development.pug
            include ../questions/_questions.pug
            include ../../blocks-secondary/scrollTop/_scrollTop.pug
            include ../../blocks-secondary/headline/_headline.pug
            +nav('','','nav__active')
           
            +head('WEBSITE', 
                'DEVELOPMENT', 
                'Having a website and online presence allows you to market your business online. Most of your customers assume that you have a website, since the vast majority of big businesses do. SparkleAppz makes sure to provide the best range of business website development services using our age-old and versatile website development experience.', 
                '',
                'portfolio.html',
                'Our portfolio',
                "https://www.sparkleappz.com/wp-content/uploads/2020/01/img_slider-2.png",
                'websites'
                )
            
            +glimpse('GLIMPSE OF WORK', 
                'As experienced development experts and solution providers, we have developed custom solutions for websites, e-commerce stores.',
            
                'From front-end to all back-end admin panels and management systems, we provide mobile responsive solutions. Based on your business needs, we advise you on the right web solution.', 
            
                'portfolio.html', 
                'SEE OUR WORK'
                )
            
            +build('BUILD WEBSITE FOR ANY BUSINESS',
                'We proudly flaunt a professional team of skilled web developers who portray expertise in developing high-end web applications. We have the expertise to develop the web projects for various industries with different business requirements. We handle everything from a small business site to an enterprise level application. We develop websites that offer good usability that provides seamless experience to the visitors and improves your chances of success.',
                
                'https://www.sparkleappz.com/wp-content/uploads/2019/06/Screenshot-2019-06-12-at-8.01.03-PM.png',
                'North Rex Apps',
                'North Rex Apps',
                '',
                
                'https://www.sparkleappz.com/wp-content/uploads/2019/06/Screenshot-2019-06-12-at-8.01.16-PM.png',
                'Titan VPN',
                'Titan VPN',
                ''
            )
            +dev('WEBSITE DEVELOPMENT INCLUDES',
                'https://www.sparkleappz.com/wp-content/uploads/2020/01/php-1.png',
                        'PHP , Laravel', 
                        'PHP , Laravel', 
                        'PHP is launched for the feature-pack & elite website development. Our team of expert PHP developers combines the best technological frameworks to offer robust and cost-effective solutions to the users.',
                'https://www.sparkleappz.com/wp-content/uploads/2020/01/java-2.png',
                        'Java', 
                        'Java', 
                        "From the release, java is used to develop scalable & secure mobile apps. Our team of canny developers uses this framework's flexibility to build the most innovative apps by leveraging the right java expertise in everything from architecture to implementation.",
                'https://www.sparkleappz.com/wp-content/uploads/2020/01/html5.png',
                        'HTML5 , Angular', 
                        'HTML5 , Angular', 
                        'HTML5 web development framework has led to a whole new era of web apps. Our HTML5 developers hold expertise in this technology and provide immaculate websites according to the user demand.',
                'https://www.sparkleappz.com/wp-content/uploads/2020/01/codignator.png',
                        'CodeIgniter , Zend', 
                        'CodeIgniter , Zend', 
                        "Powered by MVC architectural design, Codignitor ensures safe, economical web development; our team of technical savvy makes quick deliveries of scalable web solutions in well-documented phases."
                )
            +questionsWeb
            
            include ../../blocks-secondary/partners/_partners.pug
            include ../form-dev/_form-dev.pug
            include ../../blocks-secondary/network/_network.pug
            include ../../blocks-secondary/footer/_footer.pug
            
            include ../../../scripts.pug
