include ../../blocks-secondary/title/_title.pug
include ../../blocks-secondary/nav/_nav.pug
include ../../blocks-secondary/head/_head.pug
include ../glimpse/_glimpse.pug
include ../build/_build.pug
include ../development/_development.pug
include ../questions/_questions.pug

<!DOCTYPE html>
    html(lang="en")
        head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
            link(href='https://fonts.googleapis.com/css?family=Archivo+Black|Montserrat:300,400,500,700|Poppins:400,700,900|Varela+Round&display=swap', rel='stylesheet')
            link(rel="stylesheet", href="css/style.css")
            //- link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
            link(rel='stylesheet', href='https://unpkg.com/swiper/css/swiper.css')
            link(rel='stylesheet', href='https://unpkg.com/swiper/css/swiper.min.css')
            title sparkleappz.com
        body
            include ../../blocks-secondary/headline/_headline.pug
            +nav('','','nav__active')
           
            +head('WEBSITE', 
                'DEVELOPMENT', 
                'Having a website and online presence allows you to market your business online. Most of your customers assume that you have a website, since the vast majority of big businesses do. SparkleAppz makes sure to provide the best range of business website development services using our age-old and versatile website development experience.', 
                '',
                'portfolio.html',
                'Our portfolio',
                "https://www.sparkleappz.com/wp-content/uploads/2020/01/img_slider-2.png",
                'websites'
                )
            
            +glimpse('GLIMPSE OF WORK', 
                'As experienced development experts and solution providers, we have developed custom solutions for websites, e-commerce stores.',
            
                'From front-end to all back-end admin panels and management systems, we provide mobile responsive solutions. Based on your business needs, we advise you on the right web solution.', 
            
                'portfolio.html', 
                'SEE OUR WORK'
                )
            
            +build('BUILD WEBSITE FOR ANY BUSINESS',
                'We proudly flaunt a professional team of skilled web developers who portray expertise in developing high-end web applications. We have the expertise to develop the web projects for various industries with different business requirements. We handle everything from a small business site to an enterprise level application. We develop websites that offer good usability that provides seamless experience to the visitors and improves your chances of success.',
                
                'https://www.sparkleappz.com/wp-content/uploads/2019/06/Screenshot-2019-06-12-at-8.01.03-PM.png',
                'North Rex Apps',
                'North Rex Apps',
                '',
                
                'https://www.sparkleappz.com/wp-content/uploads/2019/06/Screenshot-2019-06-12-at-8.01.16-PM.png',
                'Titan VPN',
                'Titan VPN',
                ''
            )
            +dev('ANDROID APP DEVELOPMENT INCLUDES',
                'https://www.sparkleappz.com/wp-content/uploads/2020/01/java-1.png',
                        'Java', 
                        'Java', 
                        'With the immense inclination of people towards the Android world, Android Smartphone becomes the most selling device. In order to serve in this field, we come up with the talented and keen developers to build secure & reliable apps for Android Smartphone.',
                'https://www.sparkleappz.com/wp-content/uploads/2020/01/kotlin.png',
                        'Kotlin', 
                        'Kotlin', 
                        'In order to develop latest, expressive and safe android apps, Kotlin is the popular programming language specially designed for android app development. Our veteran team of developers holds extensive knowledge in kotlin to develop safe & secure code.',
                'https://www.sparkleappz.com/wp-content/uploads/2020/01/android_mobile.png',
                        'Android Mobile', 
                        'Android Mobile', 
                        'Due to the high resolution & widescreen, tablets are in demand. In order to make reliable & secure apps for android tablets, our team gained expertise in related app development technology & develop robust apps for our customers which help them to make their business productive.',
                'https://www.sparkleappz.com/wp-content/uploads/2020/01/android_tab.png',
                        'Android Tablet', 
                        'Android Tablet', 
                        "As Android's growth of TV has changed the picture of entertainment and has given TV Apps an all new edge. We have a well-experienced team of Android TV app developers, who lets you enjoy the new definition of TV through engaging & stunning apps."
                )
            +questionsAndroid
            
            include ../../blocks-secondary/partners/_partners.pug
            include ../form-dev/_form-dev.pug
            //- include ../../blocks-secondary/form-second/_form-second.pug
            include ../../blocks-secondary/network/_network.pug
            include ../../blocks-secondary/footer/_footer.pug
            include ../../blocks-secondary/copyright/_copyright.pug
            
        
            script(src='https://unpkg.com/swiper/js/swiper.js')
            script(src='https://unpkg.com/swiper/js/swiper.min.js')
            script(src="https://kit.fontawesome.com/b7ba7defb8.js" crossorigin="anonymous")
            script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js', integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n', crossorigin='anonymous')
            script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
            script(src='https://code.jquery.com/jquery-3.4.1.js', crossorigin='anonymous')
            script(src='owl.carousel.min.js')
            script(src="scripts.js")
            script(src="accordeon.js")
