section
    .main__head.head
        .container
            .row
                .col-md-6.order-sm-1.d-flex.align-items-center
                    .head__content(data-aos="fade-right", data-aos-duration="1000", data-aos-easing="ease-in-sine")
                        h1.head__title We conceptualize, 
                            | #[strong design and develop]
                            | apps that people love
                .col-md-6.order-0.order-sm-2
                    .head__img
                        img.img-fluid.head__img.mt-5(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/banner_img.png", alt="header image", data-aos="fade-left", data-aos-duration="1000", data-aos-easing="ease-in-sine")