section
    .main__head.head
        .container
            .row
                .col-6.d-flex.align-items-center
                    .head__content
                        h1.head__title We conceptualize, 
                            | #[strong design and develop]
                            | apps that people love
                    
                .col-6
                    .head__img
                        img.img-fluid.head__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/banner_img.png", alt="header image")