section
    .main__head.head
        .container
            .row
                .col-6.d-flex.justify-content-center.align-items-center
                    h1.head__title We conceptualize, 
                        | #[strong design and develop] apps that people love
                    
                .col-6
                    img.img-fluid.head__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/banner_img.png", alt="header image")