section
    .dev__form.form
        .container
            .row
                .col-md-5.mt-5.mt-md-0.d-flex.flex-column.justify-content-center
                    .form__content
                       h2.form__headline LET'S MAKE AWESOME THINGS TOGATHER
                       p.form__txt Tell us About your project.
                include ../../blocks-secondary/form/form-block/_form-block.pug