section
    .dev__form.form
        .container
            .row
                .col-5
                    .form__content.ml-5.mr-5
                       h2.form__headline LET'S MAKE AWESOME THINGS TOGATHER
                       p.form__txt Tell us About your project.
                include ../../blocks-secondary/form/form-block/_form-block.pug