.form {
  &__content {
    margin-top: 45%;
    @media screen and (max-width: 1199px) {
      margin-top: 40px;
    }
  }
  &__headline {
    @include title($pFont, 42px, 80px, bold);
    color: white;
    @media screen and (max-width: 575px) {
      font-size: 32px;
      line-height: 42px;
    }
  }
  &__txt {
    font-family: $vFont;
    font-size: 18px;
    line-height: 33px;
    color: white;
    text-align: center;
  }
}
