.form {
  &__headline {
    @include title($pFont, 42px, 80px, bold);
    color: white;
    @media screen and (max-width: 991px) {
      font-size: 26px;
      line-height: 42px;
    }
    @media screen and (max-width: 767px) {
      font-size: 26px;
      line-height: 42px;
    }
  }

  &__txt {
    font-family: $vFont;
    font-size: 18px;
    line-height: 33px;
    color: white;
    text-align: center;
  }
}
