<!DOCTYPE html>
    html(lang="en")
        include ../../head.pug
        body
            include ../blocks-secondary/nav/_nav.pug
            include ../blocks-secondary/head/_head.pug
            include ../blocks-secondary/scrollTop/_scrollTop.pug
            include ../blocks-secondary/headline/_headline.pug
            +nav('','','','','nav__active')
            +head('BLOG', 
                '', 
                
                'Sparkle Appz is an IT company in India, offering quality software related solutions including Mobile Application Development , SEO, Unity 3D, and Web Design and Development. We believe in “Complete Customer Satisfaction” as our definition of quality.', 
                
                'We focus to deliver our expertise to our clients within time and make sure that our solutions be aesthetic, technically functional, user-friendly and responsive.',
                
                'portfolio.html',
                
                'Check Out Our portfolio',
                
                "https://www.sparkleappz.com/wp-content/uploads/2020/01/blog_img.png",
                'blog')
            
            include gallery/_gallery.pug
            include items/_items.pug
            include ../blocks-secondary/footer/_footer.pug

            include ../../scripts.pug
