<!DOCTYPE html>
    html(lang="en")
        include ../../../head.pug
        body
            include ../../blocks-secondary/title/_title.pug
            include ../../blocks-secondary/nav/_nav.pug
            include ../../blocks-secondary/head/_head.pug
            include ../glimpse/_glimpse.pug
            include ../build/_build.pug
            include ../development/_development.pug
            include ../questions/_questions.pug
            include ../../blocks-secondary/scrollTop/_scrollTop.pug
            include ../../blocks-secondary/headline/_headline.pug
            +nav('','','nav__active')
           
            +head('ANDROID APP', 
                'DEVELOPMENT', 
                'SparkleAppz started off with android development and we feel pride to be considered as a specialist in Android App Development. Even though Android app development is a difficult task for any software professional due to its availability of variant screen sizes and resolutions. But our experienced developers have a deep understanding of the user requirement and the performance of Android applications across different devices. We use professional practices and proven methodologies for creating bug-free android applications.', 
                '',
                'portfolio.html',
                'Our portfolio',
                "https://www.sparkleappz.com/wp-content/uploads/2020/01/img_slider-1.png",
                'phones'
                )
            
            +glimpse('GLIMPSE OF WORK', 
                'We give priority on the tasks that solves the users’ problem or adds the most value to it. Our applications are intuitive enough that the user have seamless experience. With SparkleAppz app development, you can turn your ideas for your company’s mobile app into reality.',
            
                'Our developers know ways to future proof your app so that it keeps pace with the evolution of the Android platform. We tend to create mark of our presence in android platforms.', 
            
                'portfolio.html', 
                'SEE OUR WORK'
                )
            
            +build('BUILD AN ANDROID APP FOR ANY DEVICE',
                'Our Mobile Application team is one of the best assets for the development of Android, iOS and Windows phone. You give us an idea and we will craft you in an extraordinary piece of ingenuity, that will perform better than you dream of it.At SparkleAppz we have an experienced team whose expertise lie in making your app a success.',
                
                'https://www.sparkleappz.com/wp-content/uploads/2019/05/IG-Cleaner_inner.jpg',
                'Insta cleaner',
                'Insta cleaner',
                'Clean your instagram by mass deleting and blocking users.',
                
                'https://www.sparkleappz.com/wp-content/uploads/2019/05/More-likes_inner.jpg',
                'More Likes',
                'More Likes',
                'Get instagram likes and followers on your insta page.'
            )
            +dev('ANDROID APP DEVELOPMENT INCLUDES',
                'https://www.sparkleappz.com/wp-content/uploads/2020/01/java-1.png',
                        'Java', 
                        'Java', 
                        'With the immense inclination of people towards the Android world, Android Smartphone becomes the most selling device. In order to serve in this field, we come up with the talented and keen developers to build secure & reliable apps for Android Smartphone.',
                'https://www.sparkleappz.com/wp-content/uploads/2020/01/kotlin.png',
                        'Kotlin', 
                        'Kotlin', 
                        'In order to develop latest, expressive and safe android apps, Kotlin is the popular programming language specially designed for android app development. Our veteran team of developers holds extensive knowledge in kotlin to develop safe & secure code.',
                'https://www.sparkleappz.com/wp-content/uploads/2020/01/android_mobile.png',
                        'Android Mobile', 
                        'Android Mobile', 
                        'Due to the high resolution & widescreen, tablets are in demand. In order to make reliable & secure apps for android tablets, our team gained expertise in related app development technology & develop robust apps for our customers which help them to make their business productive.',
                'https://www.sparkleappz.com/wp-content/uploads/2020/01/android_tab.png',
                        'Android Tablet', 
                        'Android Tablet', 
                        "As Android's growth of TV has changed the picture of entertainment and has given TV Apps an all new edge. We have a well-experienced team of Android TV app developers, who lets you enjoy the new definition of TV through engaging & stunning apps."
                )
            +questionsAndroid
            
            include ../../blocks-secondary/partners/_partners.pug
            include ../form-dev/_form-dev.pug
            include ../../blocks-secondary/network/_network.pug
            include ../../blocks-secondary/footer/_footer.pug
            
            include ../../../scripts.pug