section
    .choose
        .container
                .row
                    .col-xl-6
                        .choose__blocks.mx-auto
                            h2.choose__title.mt-5.mb-4 WHY CHOOSE US
                            .choose__accordion.accordion
                                .accordion__head
                                    h3.accordion__item #[span.accordion__num 01] - Best Quality App And Website Designs
                                .accordion__panel
                                    p.accordion__txt Our secure, robust codebase approach on custom web development gives seamless UX outcomes, fulfilling the user’s expectations.
                                .accordion__head
                                    h3.accordion__item #[span.accordion__num 02] - 24x7 Live Support
                                .accordion__panel
                                    p.accordion__txt Our 24×7 dedicated support is given at pre and post delivery of project.
                                .accordion__head
                                    h3.accordion__item #[span.accordion__num 03] - Result Oriented Projects
                                .accordion__panel
                                    p.accordion__txt We do not just produce a product or deliver a service, we believe that a successful individual or an organization always prioritize their outcome results.
                                .accordion__head
                                    h3.accordion__item #[span.accordion__num 04] - Award Winning SEO Team
                                .accordion__panel
                                    p.accordion__txt SparkleAppz will help increase your company’s revenue with an SEO campaign that is specifically designed for your unique business.
                                .accordion__head
                                    h3.accordion__item #[span.accordion__num 05] - Android App development
                                .accordion__panel
                                    p.accordion__txt We have experienced team of Android App development that ensures high performance and excellence through their expert skills and knowledge.
                                .accordion__head.border
                                    h3.accordion__item #[span.accordion__num 06] - IOS app development
                                .accordion__panel
                                    p.accordion__txt Our experts give strong focus on simplicity, interaction design and usability standards to bring your ideas into aninnovative IOS application.
                    .col-xl-6
                        .choose__image.pb-5.pb-xl-0 
                            img.choose__img.img-fluid.d-block.mx-auto(src="http://www.sparkleappz.com/wp-content/uploads/2020/01/why_choose_img.png", alt="")