mixin home
    header.header
        .container
            .row
                .col-12
                    .header__headline.headline.d-flex.justify-content-end
                        .headline__links
                            a.headline__link(href="tel:+91-7737791591") #[i.headline__icon.fas.fa-phone-alt]+91-7737791591
                            a.headline__link(href="mailto:info@sparkleappz.com") #[i.headline__icon.fas.fa-envelope] info@sparkleappz.com
    include _nav.pug
    main.main
        section
            .main__head.head
                .container
                    .row
                        .col-6
                            h1.head__title WE CONCEPTUALIZE, DESIGN AND DEVELOP APPS THAT PEOPLE LOVE
                        .col-6
                            img.head__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/banner_img.png", alt="header image")

        section
            .main__work.work
                .container
                    .row
                        .col-12
                            h2.work__title We love
                            h3.work__subtitle What we do
                            p.work__text #[a(href="#") Sparkle Appz] values their customers and strives to deliver software applications for them. These solutions help enterprises and clients increase productivity and facilitate workflow management. We focus to deliver our expertise to our clients within time and make sure that our solutions be aesthetic, technically functional, user-friendly and responsive.
 
        section
            .main__help.help
                .container
                    .row
                        .col-12
                            h2.help__title How we can help you
                            p.help__text We believe in building fully fledged, stable, and scalable product applications and designs. We professionally cater all the major platforms and development tools including Android, IOS, Unity3D, UI/UX designs, Web development services. We also offer SEO & ASO which is essential for any digital marketing strategy.
                            a.help__link(href="#") About us
        section
            .main__service.service
                .container
                    .row
                        .col-12
                            h2.service__title Our services
                        .col-1
                            img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/iphone_appdeve.png", alt="").service__image
                        .col-3
                            h3.service__subtitle IPhone App Development
                            p.service__text Our devoted IOS development team is committed to developing high #[a(href="#") valued mobile ] application solutions suitable for any workflow or industry. We use modern programming languages and approaches to extend and scale our products.
                        .col-1
                            img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/android.png", alt="").service__image
                        .col-3
                            h3.service__subtitle Android App development
                            p.service__text At #[a(href="#") SparkleAppz ], we have expert team in Android App Development, creating innovative android applications for individuals, enterprises and can develop anything, a client wants on the Android platform. Our team always try to give user, the best Android applications for their business.
                        .col-1
                            img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/uiux_design.png", alt="").service__image
                        .col-3
                            h3.service__subtitle UI / UX Designing
                            p.service__text Our enthusiast UI and UX designers enjoy crafting progressive, yet #[a(href="#") empathic solutions], bringing efficiency and effectiveness that gives value to your business. We design to inspire and mesmerize.
                        .col-1
                            img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/webdevelopment.png", alt="").service__image
                        .col-3
                            h3.service__subtitle Website development
                            p.service__text We offer custom web app development providing seamless #[a(href="#") user experience] and ensure secure and strong code base from prototypes to logos design. We develop web apps with outstanding performance that can increase the chances of your business success.
                        .col-1
                            img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/gamedevelopment.png", alt="").service__image
                        .col-3
                            h3.service__subtitle Unity 3D Game development
                            p.service__text Our #[a(href="#") skilled professionals] build games for various target platforms based on Unity framework. They ensure the best possible performance, quality, and responsiveness of applications - translating design ideas, concepts, and requirements into a functional and engaging game. We focus on sophisticated design and a quality product.
                        .col-1
                            img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/seo.png", alt="").service__image
                        .col-3
                            h3.service__subtitle SEO / SMM Digital Marketing
                            p.service__text We offer digital marketing services at reasonable packages. Our #[a(href="#") experienced SEO experts]experienced SEO experts use different optimization methods to increase customers to your website and keep you on the top of every popular and competitive search engines out there.
                                
        section
            .main__partners.partners
                .container
                    .row
                        .col-12
                            h2.partners__title Who we`ve worked with
                            .partners__slider

        section
            .main__port
                .container
                    .row
                        .col-6
                            .port__link
                                a.port-link(href="#")
                                    img.port__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/IG-Cleaner_inner.jpg", alt="IG Cleaner inner")
                                    h3.port__title IG Cleaner inner
                        .col-6
                            .port__link
                                a.port-link(href="")
                                    img.port__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/Nomadic-Wall_inner.jpg", alt="Nomadic Wall inner")
                                    h3.port__title Nomadic Wall inner
                        .col-6
                            .port__link
                                a.port-link(href="")
                                    img.w-100.port__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/Keezi-Keyboards-Free_inner.jpg", alt="Keezi Keyboards Free inner")
                                    h3.port__title Keezi Keyboards Free inner
                        .col-6
                            .port__link
                                a.port-link(href="")
                                    img.w-100.port__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/hidephoto-inner.jpg", alt="")
                                    h3.port__title
                        .col-12
                            .port__btn
                                a.port-btn(href="") Check out other Projects
                                    i.fas.fa-long-arrow-alt-right

        section
            .main__slider
                .container
                    .row
                        .col-12
        section
            .main__process.process
                .container
                    .row
                        .col-3
                            h3.port__number 01
                            .port__block
                                img.port__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/requirment.png", alt="requirment")
                                h4.port__subtitle Requirements Gathering
                                p.port__text Requirement gathering is the first and very importants part of our mobile app development process.
                        .col-3
                            h3.port__number 02
                            .port__block
                                img.port__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/uidesign.png", alt="uidesign")
                                h4.port__subtitle UI/UX Design
                                p.port__text We create eye catching design with the help of latest tools of designing.
                        .col-3
                            h3.port__number 03
                            .port__block
                                img.port__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/prototype.png", alt="prototype")
                                h4.port__subtitle App Prototype
                                p.port__text After designing,the prototype of your app gets ready which is sent for development then.
                        .col-3
                            h3.port__number 04
                            .port__block
                                img.port__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/appdevelopment.png", alt="appdevelopment")
                                h4.port__subtitle App Development
                                p.port__text The development gets started on the preferable platforms with complete tranparency.
                        .col-3
                            h3.port__number 05
                            .port__block
                                img.port__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/quality-2.png", alt="quality")
                                h4.port__subtitle Quality Assurance
                                p.port__text We do not compromise in quality so wemake sure get 100% bug free app.
                        .col-3
                            h3.port__number 06
                            .port__block
                                img.port__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/deployment.png", alt="deployment")
                                h4.port__subtitle App Deployment
                                p.port__text Your app is ready to appear on playstore or playstore on this stage of develpment.
                        .col-3
                            h3.port__number 07
                            .port__block
                                img.port__image(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/support-1.png", alt="support")
                                h4.port__subtitle Support & Maintainance
                                p.port__text We give support and answer every query after deployment.
        section
            .main__ranking
                .container
                    .row
                        .col-12
                            h2.ranking__title Top ranking on
                        .col-3
                            img.ranking__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/1.png", alt="clutch")
                        .col-3
                            img.ranking__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/4.png", alt="upwork")
                        .col-3
                            img.ranking__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/3.png", alt="appfutura")
                        .col-3
                            img.ranking__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/2.png", alt="goodfirms")
        section
            .main__clients.clients
                .container
                    .row
                        .col-12
                            h2.clients__title
                        .col-3
                            img.clients__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/06/ryan.jpg", alt="")
                            p.clients__text Our first app “Alleycat” was developed by them, which was related to California tourism, they delivered it very well, I will hire them again.
                            h3.clients__subtitle Ryan Schmaltz
                            span.clients__comp Emerging Technology
                        .col-3
                            img.clients__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/06/haseeb.jpg", alt="")
                            p.clients__text Expert developer in VPN app development for all platforms, he knows how to set up the server properly and make them fast.
                            h3.clients__subtitle Haseeb Kamanger
                            span.clients__comp Cane Technologies.
                        .col-3
                            img.clients__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/06/taj.jpeg", alt="")
                            p.clients__text
                            h3.clients__subtitle
                            span.clients__comp
                        .col-3
                            img.clients__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/04/dane.jpeg", alt="")
                            p.clients__text Sparkle Appz is Perfect in every way! Work was completed extremely fast. Great team to work with. Would highly recommend to anyone!
                            h3.clients__subtitle Dane Homenick
                            span.clients__comp DANECO LTD.
                        .col-3
                            img.clients__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/04/josh.jpeg", alt="")
                            p.clients__text Surya is great to work with. He understood my deadline and was able to deliver an excellent bug-free app.
                            h3.clients__subtitle Josh Axelmen.
                            span.clients__comp Riot Games
                        .col-3
                            img.clients__img(src="http://www.sparkleappz.com/wp-content/uploads/2019/06/kalpesh.jpeg", alt="")
                            p.clients__text Working with Sparkle Appz team for mobile app development was really good and would like to work with them again.
                            h3.clients__subtitle Kalpesh Modha
                            span.clients__comp Opmen
        section
            .main__features.features
                .container
                    .row
                        .col-12
                            h2.features__title Our key features
                            p.features__description Services That We Deliver Makes Us Dignified As One of The Top App Development Companies.
                        .col-3
                            h3.features__subtitle 1. Client Centic Development
                            p.features__text We are the one that levarages best over web,mobiles & blockchain soloutions to the clients by tailoring as per their business requirements.
                        .col-3
                            h3.features__subtitle 2. Agile Development
                            p.features__text We follow Agile Development process which help us to do -liver the projects with utmost quality and solid nproducts.
                        .col-3
                            h3.features__subtitle 3. Dedicated Develop Team
                            p.features__text We assign a cost-effective dedicated team to all our projects that not only assures quality but gives excellent support and satisfaction to our valueable clients.
                        .col-3
                            h3.features__subtitle 4. Excellent Support
                            p.features__text We are always there to assist our clients in every possible manner in each project phase. Our techniqal team work hard to ensure that the final products meets the clients satisfactions.
                        .col-3
                            h3.features__subtitle 5. Data Backups
                            p.features__text Regular backups has helped us to survive in every extreme conditions. we carefully clients projects backups to deal with misfortunes in the best possible manners.
                        .col-3
                            h3.features__subtitle 6. Data Protection
                            p.features__text By signiing NDA, our company ensures the utmost safety of all your provid data. we deliver best products to our fortune clients by maintaining confidentialty.
        section
            .main__tech.tech
                .container
                    .row
                        .col-12
                            h2.tech__title Technologies we use
                            img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/android-1.png", alt="android")
                            img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/swift.png", alt="swift")
                            img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/react.png", alt="react")
                            img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/flutter.png", alt="flutter")
                            img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/java.png", alt="java")
                            img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/js.png", alt="js")
                            img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/node.png", alt="node")
                            img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/php.png", alt="php")
                            img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/wordpress.png", alt="wordpress")
        section
            .main__industries.industries
                .container
                    .row
                        .col-12
                            h2.industries__title Inductries we serve
                            p.industries__subtitle Here,We make almost every genere of application of applications. You named it and we build it.
                        .col-2.offset-1
                            .industries__block
                                img.industries__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/ecommerce.png", alt="ecommerce")
                                p.industries__desc Retail, Ecommerce
                        .col-2
                            .industries__block
                                img.industries__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/education.png", alt="education")
                                p.industries__desc Education & e-learning
                        .col-2
                            .industries__block
                                img.industries__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/fitness.png", alt="fitness")
                                p.industries__desc Healthcare & Fitness
                        .col-2
                            .industries__block
                                img.industries__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/logistic.png", alt="logistic")
                                p.industries__desc Logistic & Distribution
                        .col-2
                            .industries__block
                                img.industries__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/social.png", alt="social")
                                p.industries__desc Social Networking
                        .col-2.offset-1
                            .industries__block
                                img.industries__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/realestate.png", alt="realestate")
                                p.industries__desc Real Estate
                        .col-2
                            .industries__block
                                img.industries__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/travel-1.png", alt="travel")
                                p.industries__desc Travel & Hospitality
                        .col-2
                            .industries__block
                                img.industries__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/food.png", alt="food")
                                p.industries__desc Food & Restaurants
                        .col-2
                            .industries__block
                                img.industries__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/ondemand.png", alt="ondemand")
                                p.industries__desc On-Demand Solutions
                        .col-2
                            .industries__block
                                img.industries__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/gaming.png", alt="gaming")
                                p.industries__desc Gaming

        section
            .main__values.values
                .container
                    .row
                        .col-12
                            h2.values__title Our values
                            p.values__subtitle They define who we are as a professional team and what make us to stand out
                        .col-3
                            img.values__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/eficiency.png", alt="eficiency")
                            h3.values__descr Efficiency
                            p.values__txt We builds Software that deliver results.
                        .col-3
                            img.values__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/quality.png", alt="qualit")
                            h3.values__descr Quality
                            p.values__txt We have high standard for all the things we develop
                        .col-3
                            img.values__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/integrity.png", alt="")
                            h3.values__descr Integrity
                            p.values__txt We do what's right even when its not an easy thing to do
                        .col-3
                            img.values__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/unity.png", alt="unity")
                            h3.values__descr Unity
                            p.values__txt We are a tem so we appreciate every point
        //- section
        //-     .main__slider-s
        //-         .container
        //-             .row
        //-                 .col-12
        //-                     .slider-s__block
        //-                         img.slider-s__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/banner_img.png", alt="banner")
        //-                         h2.slider-s__title we coceptualize
        //-                         p.slider-s__txt WE CONCEPTUALIZE, DESIGN AND DEVELOP APPS THAT PEOPLE LOVE
        //-                     .slider-s__block
        //-                         img.slider-s__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/banner_img.png", alt="")
        //-                         h2.slider-s__title we coceptualize
        //-                         p.slider-s__txt WE CONCEPTUALIZE, DESIGN AND DEVELOP APPS THAT PEOPLE LOVE
        //-                     .slider-s__block
        //-                         img.slider-s__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/banner_img.png", alt="")
        //-                         h2.slider-s__title we coceptualize
        //-                         p.slider-s__txt WE CONCEPTUALIZE, DESIGN AND DEVELOP APPS THAT PEOPLE LOVE
        section
            .main__form.form
                .container
                    .row
                        .col-7
                            form(action="", method="get")
                                .form-group
                                    .form__title
                                        h3.form-title GET IN TOUCH
                                    .form__text
                                        p.form-text We’re here for you, and we’re wearing our thinking caps. But first swing by our fantastic Help Center for all your Sparkle Appz product and technical needs!
                                    .row
                                        .col-6
                                            input#name.form-control(type='text', placeholder = 'Name', name='name')
                                        .col-6
                                            input#email.form-control(type='email', placeholder = 'Email',name='email')
                                    .row
                                        .col-6
                                            input#phone.form-control(type='tel', placeholder = 'Phone',name='phone')
                                            
                                        .col-6
                                            input#phone.form-control(type='text', placeholder = 'Skype',name='skype')
                                        .col-12
                                            textarea#message.form-control.form-control--txt(rows='3', placeholder = 'Message', name='message')
                                        .col-6
                                            input#phone.form-control(type='text', placeholder = 'Budget',name='budget')
                                        .col-12
                                            button.form__btn(type='submit') Send message
                        .col-4
                            .form__info.info
                                h3.info__title REACH US
                                h4.info__subtitle Headquarters
                                a.info__link(href="#" ) 
                                    address 10, Paota, Jodhpur, Rajasthan, India.
                                a.info__link(href="mailto:info@sparkleappz.com?subject=Hello." ) #[i.info__icon.far.fa-envelope] info@sparkleappz.com
                                a.info__link(href="tel:+91-7737791591" ) #[i.info__icon.fas.fa-phone] +91-7737791591
                                a.info__link(href="skype:7737791591?call" ) #[i.info__icon.fab.fa-skype] Aheadtechno
                                h4.info__subtitle Canada Office
                                a.info__link(href="#" ) 
                                    address 100 city centre drive mississauga,Ontario, Canada.
                            .form__links
                                .form__link
                                    a.form__link(href="services/contact.html") Call us
                                        i.form-icon.fas.fa-phone-alt
                                    a.form__link(href="#" ) #[i.form__icon.fab.fa-whatsapp] Whatsapp Us
                                    
        section
            .main__links
                .container
                    .row
                        .col-2
                            img.main__icon(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/fb.png", alt="")
                            a.main__link(href="https://www.facebook.com/") Facebook
                        .col-2
                            img.main__icon(src="https:www.sparkleappz.com/wp-content/uploads/2019/12/twitter.png", alt="")
                            a.main__link(href="https://www.facebook.com/") Twitter
                        .col-2
                            img.main__icon(src="https:www.sparkleappz.com/wp-content/uploads/2019/12/insta.png", alt="")
                            a.main__link(href="https://www.facebook.com/") Instagram
                        .col-2
                            img.main__icon(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/inkedin.png", alt="")
                            a.main__link(href="www.linkedin.com") Linkedin
                        .col-2
                            img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/clutch.png", alt="")
                            a.main__link(href="") Clutch
                        .col-2
                            img.main__icon(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/upwork.png", alt="")
                            a.main__link(href="") Upwork
        footer
            .footer
                .container
                    .row
                        .col-3
                            img.footer__logo(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/logo-187x66.png", alt="")
                            p.footer__desc SparkleAppz is a professional IT solution and web development company. We provide complete web design and IT services to make your product successful in market with eye-catching outlook and appropriate web design. We put together our delicate, exceptional methods by building in our personal intensive experience. Our own strategy supplies the drive and ready-to-use design necessary to deliver excellent.
                        .col-3
                            .footer__block
                                h3.footer__title Important Links
                                .footer__links
                                    ul.footer__menu.menu
                                        li.footer__item
                                            
                                            a.footer-item(href="index.html") #[i.footer__icon.fas.fa-chevron-right] Home
                                        li.footer__item
                                            a.footer-item(href="about.html") #[i.footer__icon.fas.fa-chevron-right] About
                                        li.footer__item
                                            a.footer-item(href="services/services.html") #[i.footer__icon.fas.fa-chevron-right] Services
                                        li.footer__item
                                            a.footer-item(href="portfolio.html") #[i.footer__icon.fas.fa-chevron-right] Portfolio
                                        li.footer__item
                                            a.footer-item(href="blog.html") #[i.footer__icon.fas.fa-chevron-right] Blog
                                        li.footer__item
                                            a.footer-item(href="contact.html") #[i.footer__icon.fas.fa-chevron-right] Contact
                        .col-3
                            .footer__block
                                h3.footer__title Useful Links
                                .footer__links
                                    ul.footer__menu.menu
                                        li.footer__item
                                            a.footer-item(href="#") #[i.footer__icon.fas.fa-chevron-right] IOS App Development
                                        li.footer__item
                                            a.footer-item(href="#") #[i.footer__icon.fas.fa-chevron-right] Android App Development
                                        li.footer__item
                                            a.footer-item(href="#") #[i.footer__icon.fas.fa-chevron-right] Website Development
                                        li.footer__item
                                            a.footer-item(href="#") #[i.footer__icon.fas.fa-chevron-right] UI/UX Design Services
                                        li.footer__item
                                            a.footer-item(href="#") #[i.footer__icon.fas.fa-chevron-right] Unity 3D Game Development
                                        li.footer__item
                                            a.footer-item(href="#") #[i.footer__icon.fas.fa-chevron-right] SEO / SMM Digital Marketing
                             
                        .col-3
                            .footer__info.foot
                                h3.foot__title Get In Touch
                                h4.foot__subtitle Headquarters
                                a.foot__link(href="#" ) 
                                    address 10, Paota, Jodhpur, Rajasthan, India.
                                a.foot__link(href="mailto:info@sparkleappz.com?subject=Hello." ) #[i.info__icon.far.fa-envelope] info@sparkleappz.com
                                a.foot__link(href="tel:+91-7737791591" ) #[i.foot__icon.fas.fa-phone] +91-7737791591
                                a.foot__link(href="skype:7737791591?call" ) #[i.foot__icon.fab.fa-skype] Aheadtechno
                                h4.foot__subtitle Canada Office
                                a.foot__link(href="#" ) 
                                    address 100 city centre drive mississauga,Ontario, Canada.
            .copyright
                .container
                    .row
                        .col-12
                            p.copyright-txt Copyright © 2020 Sparkle Appz | All rights reserved.

                        





