.container
    nav.nav
        .row
            .col-4
                .nav__logo
                    a(href="#home")
                        img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/logo-187x66.png", alt="logo")
            .col-6
                ul.nav__menu.menu.d-flex.justify-content-between
                    li.nav__item
                        a.menu-item.active(href="index.html") Home
                    li.nav__item
                        a.menu-item.active(href="about.html") About
                    li.nav__item
                        a.menu-item(href="services/services.html") Services
                    li.nav__item
                        a.menu-item(href="portfolio.html") Portfolio
                    li.nav__item
                        a.menu-item(href="blog.html") Blog
                    li.nav__item
                        a.menu-item(href="contact.html") Contact
            .col-2
                .nav__links
                    a.nav__link(href="services/contact.html") Get a free quote
                    a.nav__link(href="services/contact.html") Call 
                        i.contact-icon.fas.fa-phone-alt 
                        

hr.nav__line