header.header
    .container
        .row
            .col-12
                .header__headline.headline.d-flex.justify-content-end
                    .headline__links
                        a.headline__link(href="tel:+91-7737791591") #[i.headline__icon.fas.fa-phone-alt]+91-7737791591
                        a.headline__link(href="mailto:info@sparkleappz.com") #[i.headline__icon.fas.fa-envelope] info@sparkleappz.com