.projects {
  background-color: $bg;

  &__title {
    @extend %title-p-b;
  }

  &__subtitle {
    @extend %text-v-r;
    text-align: center;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 2fr;
    grid-gap: 4px;
    margin: 25px 25px 120px;
    @media screen and (max-width: 575px) {
      margin-bottom: 40px;
    }
  }
  &__link {
    position: relative;
    &:hover .projects__desc {
      transition: bottom 0.2s linear;
      bottom: 0;
      opacity: 1;
    }
  }
  &__desc {
    display: bolck;
    position: absolute;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 36px;
    z-index: 0;
    left: 0;
    bottom: -36px;
    transition: all 0.2s linear;
    padding-left: 10px;
    padding-top: 4px;
    opacity: 0;
  }
  &__img {
    max-width: 100%;
  }

  &__min-item {
    grid-row: span 2;
    grid-column: span 2;

    @media screen and (max-width: 575px) {
      grid-row: span 3;
      grid-column: span 3;
    }
  }

  &__max-item {
    grid-row: span 3;
    grid-column: span 3;
  }
}
