section
    .projects
        .container
            .row
                .col-12
                    h2.projects__title OUR PORJECTS
                    p.projects__subtitle Here is a glimpse of our notable works done, so far
                .co-12
                    .projects__items
                        img.projects__item.projects__min-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/06/mix-music.jpg", alt="mix music")
                        p.projects__desc mix music
                        img.projects__item.projects__min-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/04/bpositive.jpg", alt="bpositive")
                        img.projects__item.projects__min-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/GoTeach_Inner.jpg", alt="GoTeach")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/06/fax-king.jpg", alt="fax-king")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/06/live-pic-maker-2.jpg", alt="live pic")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/06/prof-pic-editor.jpg", alt="prof pic editor")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/06/titan-vpn-1.jpg", alt="titan vpn")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/06/long-IG.jpg", alt="long IG")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/Wordoji-Free_inner.jpg", alt="Wordoji Free")
                        img.projects__item.projects__min-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/06/porn-shield.jpg", alt="porn shield")
                        img.projects__item.projects__min-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/06/watermark-1.jpg", alt="watermark")
                        img.projects__item.projects__min-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/06/crop-IG.jpg", alt="crop IG")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/Keezi-Keyboards-Free_inner.jpg", alt="Keezi Keyboards")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/06/insta-multiples.jpg", alt="insta multiples")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/06/pic-square-maker.jpg", alt="pic square")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/06/watermark-X.jpg", alt="watermark X")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/Adult-Frames-Picture_inner.jpg", alt="Adult Frames Picture")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/back-cam_inner.jpg", alt="back cam inner")
                        img.projects__item.projects__min-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/Cool-Comment-inner.jpg", alt="Cool Comment inner")
                        img.projects__item.projects__min-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/HotSpot-App_inner.jpg", alt="HotSpot App inner")
                        img.projects__item.projects__min-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/Insta-Grid-PostRepost_inner.jpg", alt="Insta GridPostRepost")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/Masque-Pro_inner.jpg", alt="Masque Pro inner")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/Quick-Cap-Free_innew.jpg", alt="Quick Cap Free")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/caption-inner.jpg", alt="caption inner")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/Hockey-Stickers_inner.jpg", alt="Hockey Stickers")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/Life-Listr_inner.jpg", alt="Life Listr")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/More-likes_inner.jpg", alt="More likes")
                        img.projects__item.projects__min-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/Nomadic-Wall_inner.jpg", alt="Nomadic Wall")
                        img.projects__item.projects__min-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/profile-pic-ture_inner.jpg", alt="profile pic")
                        img.projects__item.projects__min-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/Pic-Square-Maker_inner.jpg", alt="Pic Square Maker")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/Watermark-Studio-X-Free_inner.jpg", alt="Watermark Studio X Free")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/Ad-Block-Master_Inner.jpg", alt="Ad Block Master")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/fontmania_inner.jpg", alt="fontmania inner")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/hidephoto-inner.jpg", alt="hidephoto inner")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/IG-Repost_inner.jpg", alt="IG Repost inner")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/Instablend_inner.jpg", alt="Instablend inner")
                        img.projects__item.projects__min-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/instacleaner_inner.jpg", alt="instacleaner inner")
                        img.projects__item.projects__min-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/04/iFame.jpg", alt="iFame")
                        img.projects__item.projects__min-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/instastory_inner.jpg", alt="instastory inner")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/Who-Follow-Unfollow-My-Profile_Inner.jpg", alt="Who Follow Unfollow")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/05/Who-Interect-With-Me_inner.jpg", alt="Who Interect")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/04/fb-video-uploader.jpg", alt="fb video uploader")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/04/cool-keyboard.jpg", alt="cool keyboard")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/04/vfame.jpg", alt="vfame")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/04/Omg-Sound.jpg", alt="Omg Sound")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/04/cool-keyboard.jpg", alt="cool keyboard")
                        img.projects__item.projects__max-image(src="https://www.sparkleappz.com/wp-content/uploads/2019/04/card-reader-app.jpg", alt="card reader")
