section
    .main__clients.clients
        .container
            .row
                .col-12
                    h2.clients__title WHAT CLIENTS SAY
            .row.d-flex.justify-content-center
                .col-12
                    .owl-carousel
                        .clients__slide
                            img.clients__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/06/ryan.jpg", alt="ryan")
                            .clients__content
                                p.clients__text Our first app “Alleycat” was developed by them, which was related to California tourism, they delivered it very well, I will hire them again.
                                hr.clients__line
                                h3.clients__subtitle Ryan Schmaltz
                                p.clients__comp Emerging Technology
                        .clients__slide
                            img.clients__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/04/dane.jpeg", alt="dane")
                            .clients__content
                                p.clients__text Sparkle Appz is Perfect in every way! Work was completed extremely fast. Great team to work with. Would highly recommend to anyone!
                                hr.clients__line
                                h3.clients__subtitle Dane Homenick
                                p.clients__comp DANECO LTD
                        .clients__slide
                            img.clients__img(src="https://www.sparkleappz.com/wp-content/uploads/2019/04/josh.jpeg", alt="josh")
                            .clients__content
                                p.clients__text Surya is great to work with. He understood my deadline and was able to deliver an excellent bug-free app.
                                hr.clients__line
                                h3.clients__subtitle Josh Axelmen
                                p.clients__comp Riot Games
                        .clients__slide
                            img.clients__img(src="http://www.sparkleappz.com/wp-content/uploads/2019/06/kalpesh.jpeg", alt="kalpesh")
                            .clients__content
                                p.clients__text Working with Sparkle Appz team for mobile app development was really good and would like to work with them again.
                                hr.clients__line
                                h3.clients__subtitle Kalpesh Modha
                                p.clients__comp Opmen
    