section
    .main__service.service
        .container
            +title('Our services').service__title
            .service__blocks
                .row
                    .col-lg-4
                        .main__block(data-aos="fade-up", data-aos-duration="500")
                            .row    
                                .col-sm-3
                                    img.d-block.mx-auto.img-fluid.service__image(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/iphone_appdeve.png", alt="iphone")
                                .col-sm-6.text-center.text-sm-left.mt-3.mt-sm-0
                                    h3.service__subtitle IPhone App Development
                                .col-sm-9.offset-sm-3.text-center.text-sm-left.mt-3.mt-sm-0
                                    p.service__text Our devoted IOS development team is committed to developing high #[a.service__link(href="ios.html") valued mobile ] application solutions suitable for any workflow or industry. We use modern programming languages and approaches to extend and scale our products.
                    .col-lg-4    
                        .main__block(data-aos="fade-up", data-aos-duration="1500")
                                .row    
                                    .col-sm-3
                                        img.d-block.mx-auto.img-fluid.service__image(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/android.png", alt="android")
                                    .col-sm-6.text-center.text-sm-left.mt-3.mt-sm-0
                                        h3.service__subtitle Android App development
                                    .col-sm-9.offset-sm-3.text-center.text-sm-left.mt-3.mt-sm-0
                                        p.service__text At #[a.service__link(href="android.html") SparkleAppz ], we have expert team in Android App Development, creating innovative android applications for individuals, enterprises and can develop anything, a client wants on the Android platform. Our team always try to give user, the best Android applications for their business.
                    .col-lg-4
                        .main__block(data-aos="fade-up", data-aos-duration="2500")
                            .row    
                                .col-sm-3
                                    img.d-block.mx-auto.img-fluid.service__image(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/uiux_design.png", alt="uiux design")
                                .col-sm-6.text-center.text-sm-left.mt-3.mt-sm-0
                                    h3.service__subtitle UI / UX Designing
                                .col-sm-9.offset-sm-3.text-center.text-sm-left.mt-3.mt-sm-0
                                    p.service__text Our enthusiast UI and UX designers enjoy crafting progressive, yet #[a.service__link(href="ui.html") empathic solutions], bringing efficiency and effectiveness that gives value to your business. We design to inspire and mesmerize.
                    .col-lg-4
                        .main__block(data-aos="fade-up", data-aos-duration="500")
                            .row    
                                .col-sm-3
                                    img.d-block.mx-auto.img-fluid.service__image(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/webdevelopment.png", alt="webdevelopment")
                                .col-sm-6.text-center.text-sm-left.mt-3.mt-sm-0
                                    h3.service__subtitle Website development
                                .col-sm-9.offset-sm-3.text-center.text-sm-left.mt-3.mt-sm-0
                                    p.service__text We offer custom web app development providing seamless #[a.service__likla(href="websites.html") user experience] and ensure secure and strong code base from prototypes to logos design. We develop web apps with outstanding performance that can increase the chances of your business success.
                    .col-lg-4
                        .main__block(data-aos="fade-up", data-aos-duration="1500")
                            .row    
                                .col-sm-3
                                    img.d-block.mx-auto.img-fluid.service__image(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/gamedevelopment.png", alt="gamedevelopment")
                                .col-sm-6.text-center.text-sm-left.mt-3.mt-sm-0
                                    h3.service__subtitle Unity 3D Game development
                                .col-sm-9.offset-sm-3.text-center.text-sm-left.mt-3.mt-sm-0
                                    p.service__text Our #[a.service__link(href="unity.html") skilled professionals] build games for various target platforms based on Unity framework. They ensure the best possible performance, quality, and responsiveness of applications - translating design ideas, concepts, and requirements into a functional and engaging game. We focus on sophisticated design and a quality product.
                    .col-lg-4
                        .main__block(data-aos="fade-up", data-aos-duration="2500")
                            .row    
                                .col-sm-3
                                    img.d-block.mx-auto.img-fluid.service__image(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/seo.png", alt="seo")
                                .col-sm-6.text-center.text-sm-left.mt-3.mt-sm-0
                                    h3.service__subtitle SEO / SMM Digital Marketing
                                .col-sm-9.offset-sm-3.text-center.text-sm-left.mt-3.mt-sm-0
                                    p.service__text We offer digital marketing services at reasonable packages. Our #[a.service__link(href="marketing.html") experienced SEO experts]experienced SEO experts use different optimization methods to increase customers to your website and keep you on the top of every popular and competitive search engines out there.