section
    .main__service.service
        .container
            .row
                .col-12
                    h2.service__title Our services
                .col-1
                    img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/iphone_appdeve.png", alt="").service__image
                .col-3
                    h3.service__subtitle IPhone App Development
                    p.service__text Our devoted IOS development team is committed to developing high #[a(href="#") valued mobile ] application solutions suitable for any workflow or industry. We use modern programming languages and approaches to extend and scale our products.
                .col-1
                    img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/android.png", alt="").service__image
                .col-3
                    h3.service__subtitle Android App development
                    p.service__text At #[a(href="#") SparkleAppz ], we have expert team in Android App Development, creating innovative android applications for individuals, enterprises and can develop anything, a client wants on the Android platform. Our team always try to give user, the best Android applications for their business.
                .col-1
                    img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/uiux_design.png", alt="").service__image
                .col-3
                    h3.service__subtitle UI / UX Designing
                    p.service__text Our enthusiast UI and UX designers enjoy crafting progressive, yet #[a(href="#") empathic solutions], bringing efficiency and effectiveness that gives value to your business. We design to inspire and mesmerize.
                .col-1
                    img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/webdevelopment.png", alt="").service__image
                .col-3
                    h3.service__subtitle Website development
                    p.service__text We offer custom web app development providing seamless #[a(href="#") user experience] and ensure secure and strong code base from prototypes to logos design. We develop web apps with outstanding performance that can increase the chances of your business success.
                .col-1
                    img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/gamedevelopment.png", alt="").service__image
                .col-3
                    h3.service__subtitle Unity 3D Game development
                    p.service__text Our #[a(href="#") skilled professionals] build games for various target platforms based on Unity framework. They ensure the best possible performance, quality, and responsiveness of applications - translating design ideas, concepts, and requirements into a functional and engaging game. We focus on sophisticated design and a quality product.
                .col-1
                    img(src="https://www.sparkleappz.com/wp-content/uploads/2020/01/seo.png", alt="").service__image
                .col-3
                    h3.service__subtitle SEO / SMM Digital Marketing
                    p.service__text We offer digital marketing services at reasonable packages. Our #[a(href="#") experienced SEO experts]experienced SEO experts use different optimization methods to increase customers to your website and keep you on the top of every popular and competitive search engines out there.