.form {
  &__headline {
    @include title($pFont, 42px, 80px, bold);
    color: white;

    @media screen and (min-width: 992px) and (max-width: 1199px) {
      font-size: 3.5vw;
      line-height: 60px;
    }

    @media screen and (min-width: 768px) and (max-width: 991px) {
      font-size: 3.5vw;
      line-height: 60px;
    }
  }
  &__txt {
    font-family: $vFont;
    font-size: 18px;
    line-height: 33px;
    color: white;
    text-align: center;
  }
}
