section
    .about__form.form
        .container
            .row
                .col-5
                    .form__content.ml-5.mr-5
                       h2.form__headline WANT TO WORK TOGATHER?
                       p.form__txt Thank you for taking an interest in our company. Let us know if you have an idea we can build together.
                include ../form/form-block/_form-block.pug