head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="Design and develop apps.We believe in building fully fledged, stable, and scalable product applications and designs. We professionally cater all the major platforms and development tools including Android, IOS, Unity3D, UI/UX designs, Web development services.")
    link(href='https://fonts.googleapis.com/css?family=Archivo+Black&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Poppins:400,700,900&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Varela+Round&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css')
    link(href='https://unpkg.com/aos@2.3.1/dist/aos.css', rel='stylesheet')
    link(rel='stylesheet', href='https://unpkg.com/swiper/css/swiper.min.css')
    link(rel="stylesheet", href="css/style.css")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    title Conceptualize, design and develop apps that people love
    