script(src='https://unpkg.com/swiper/js/swiper.js')
script(src='https://unpkg.com/swiper/js/swiper.min.js')
script(src="https://kit.fontawesome.com/b7ba7defb8.js" crossorigin="anonymous")
script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js', integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n', crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
script(src='https://code.jquery.com/jquery-3.4.1.js', crossorigin='anonymous')
script(src='https://unpkg.com/aos@2.3.1/dist/aos.js')
script(src='owl.carousel.min.js')
script(src="scripts.js")
script(src="accordeon.js")