@import './blocks/home.scss';
@import './blocks/nav.scss';
// @import './blocks/about.scss';
// @import './blocks/services.scss';
// @import './blocks/portfolio.scss';
// @import './blocks/blog.scss';
// @import './blocks/contact.scss';
