@mixin title($font-family, $font-size, $line-height, $font-weight) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  text-transform: uppercase;
  text-align: center;
}
%title-p-b {
  margin-top: 90px;
  font-family: $pFont;
  font-size: 42px;
  line-height: 42px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  @media screen and (max-width: 575px) {
    margin-top: 40px;
    font-size: 8vw;
  }
}
%subtitle-v-r {
  font-family: $vFont;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  text-transform: unset;
  color: black;
}
%text-v-r {
  font-family: $vFont;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: #7a7a7a;
}

%link {
  text-decoration: none;
  color: #007bff;
  transition: all 0.4s linear;

  &:hover {
    text-decoration: none;
    transition: all 0.4s;
    color: #545454;
  }
}
%link-white {
  text-decoration: none;
  color: white;
  transition: all 0.4s linear;
  font-weight: bold;

  &:hover {
    text-decoration: none;
    border-bottom: 1px solid white;
    transition: all 0.4s;
    color: white;
  }
}

%holder {
  font-family: $vFont;
  font-size: 14px;
  line-height: 26px;
  color: #7a7a7a;
}
