@import 'reset.scss';
@import 'bootstrap/bootstrap.scss';
@import 'fonts.scss';
@import 'vars.scss';
@import 'mixins.scss';
@import '_main.scss';
@import '_blocks.scss';
@import 'owl_carousel/owl.carousel.scss';
