section
    .main__links
        .container
            .row
                .col-2
                    img.main__icon(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/fb.png", alt="")
                    a.main__link(href="https://www.facebook.com/") Facebook
                .col-2
                    img.main__icon(src="https:www.sparkleappz.com/wp-content/uploads/2019/12/twitter.png", alt="")
                    a.main__link(href="https://www.facebook.com/") Twitter
                .col-2
                    img.main__icon(src="https:www.sparkleappz.com/wp-content/uploads/2019/12/insta.png", alt="")
                    a.main__link(href="https://www.facebook.com/") Instagram
                .col-2
                    img.main__icon(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/inkedin.png", alt="")
                    a.main__link(href="www.linkedin.com") Linkedin
                .col-2
                    img(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/clutch.png", alt="")
                    a.main__link(href="") Clutch
                .col-2
                    img.main__icon(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/upwork.png", alt="")
                    a.main__link(href="") Upwork