mixin description(_title, _subtitle, _img, _alt, _txt)
    section
        .container
            .descr
                +title(_title).descr__title
                h3.descr__subtitle.mt-4.text-center= _subtitle
                .row.mt-sm-5
                    .col-md-6.d-flex.align-items-center
                        img.mx-auto.d-block.img-fluid.descr__img(src= _img, alt= _alt)
                    .col-md-5.d-flex.align-items-center.mx-auto
                        p.descr__txt.mt-5.mt-md-0= _txt 
                    .col-12
                        a.mx-auto.mt-5.descr__link(href="portfolio.html") show more projects