.col-md-7
    form(action="index.php", method="get")
        .form-group.mb-5
            .form__title
                h3.form-title GET IN TOUCH
            .form__text
                p.form-text We’re here for you, and we’re wearing our thinking caps. But first swing by our fantastic Help Center for all your Sparkle Appz product and technical needs!
            .row
                .col-sm-6
                    .form__input.mr-sm-n1
                        input#name.form-control(type='text', placeholder = 'Name', name='name', required)
                .col-sm-6
                    .form__input.ml-sm-n1
                        input#email.form-control(type='email', placeholder = 'Email',name='email', required)
            .row
                .col-sm-6
                    .form__input.mr-sm-n1
                        input#phone.form-control(type='tel', placeholder = 'Phone',name='phone', required)
                    
                .col-sm-6
                    .form__input.ml-sm-n1
                        input#skype.form-control(type='text', placeholder = 'Skype',name='skype')
                .col-12
                    .form__area.form__input.mt-2
                        textarea#message.form-control(rows='3', placeholder = 'Message', name='message')
                .col-12
                    .form__input
                        input#budget.form-control(type='text', placeholder = 'Budget',name='budget')
                .col-sm-4.mx-auto.mt-4.mb-5
                    .form__button
                        button.form__btn(type='submit') Get a Quote